body {
	color: #323232;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 14px;
}

a {
	color: #0084cf;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.green {
	color: #0F9D2E;
}

a.blackback { color: #fff; background-color: #323232; }
a.blackback:hover { text-decoration: none; background-color: #232323; }
a.blackback:active { text-decoration: none; background-color: #111; }

div#wrapper {
	padding-top: 68px;
}

/* HEADER STYLES */

div#headerwrap {
	position: fixed;
	top: -1px;
	left: 0;
	width: 100%;
	height: 48px;
	background: url(../img/backs/header.png) repeat-x left bottom;
	border-bottom: 1px solid #58b469;
	z-index: 1000;
}

div#header {
	width: 940px;
	margin: 4px auto 0 auto;
	font-size: 1em;
	padding: 8px 0;
	height: 28px;
	position: relative;
}

div#header h1.logo {
	display: block;
	float: left;
	background: transparent url(../img/logo.png) no-repeat top center;
	width: 122px;
	height: 29px;
	text-indent: -8000px;
	overflow: hidden;
}

div#header h1.templogo {
	display: block;
	float: left;
	width: 130px;
	height: 2em;
	font-size: 2em;
	font-weight: bold;
	position: relative;
	top: -3px;
}

div#header h1.templogo a { color: #323232; }
div#header h1.templogo a:hover { text-decoration: none; }

div#header h1.templogo span {
	color: #0f9d2e;
}

/* IF LOGGED OUT */

div#header a#greetsignup {
	display: block;
	float: left;
	color: #fff;
	border: 1px solid #0b8121;
	background-color: #088f21;
	padding: 0 12px 0 13px;
	line-height: 23px;
	height: 24px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	margin-left: 12px;
	font-size: 0.9em;
	letter-spacing: 0.05em;
}

div#header a#greetsignup:hover {
	text-decoration: none;
	background-color: #0f9d2e;
}

div#header a#greetsignup:active {
	text-decoration: none;
	background-color: #087520;
}

div#header form#usersignin {
	float: right;
	line-height: 25px;
	display: block;
	height: 26px;
	width: auto;
}

div#header form#usersignin label {
	font-size: 0.9em;
	margin-right: 4px;
	font-weight: bold;
	color: #777;
}

div#header form#usersignin .textinput {
	height: 17px;
	width: 121px;
	font-size: 12px;
	margin-right: 5px;
	color: #666;
	border: 1px solid #aaa;
	padding: 1px 3px;
}

div#header form#usersignin .submit {
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #666;
}

div#header div#facebooklogin {
	float: right;
	line-height: 25px;
	height: 26px;
	width: auto;
}

div#header div#facebooklogin p {
	float: left;
	margin: 0 15px 0 12px;
}

div#header a#fbloginbut {
	width: 154px;
	height: 22px;
	display: block;
	margin-top: 2px;
	float: left;
	;
	text-indent: -8000px;
	background: url(../img/icns/fblogin.png) no-repeat top center;
}

/* IF LOGGED IN */

div#header p#greetuser {
	position: absolute;
	float: left;
	line-height: 24px;
	left: 142px;
	bottom: 7px;
	font-size: 0.9em;
}

ul#usercontrols {
	position: relative;
	left: 10px;
	width: 440px;
	float: right;
	height: 26px;
	margin-top: 3px;
	margin-right: 0;
}

ul#usercontrols li {
	float: right;
	margin-left: 15px;
}

ul#usercontrols li.lightback a {
	display: block;
	width: auto;
	height: 25px;
	padding: 0 2px 0 6px;
	line-height: 25px;
	border: 1px solid #777;
	border-bottom-width: 0;
	color: #777;
}

ul#usercontrols li.lightback a:hover {
	text-decoration: none;
	background: #e6e6e6;
}

ul#usercontrols li.button a {
	display: block;
	width: auto;
	height: 26px;
	padding: 0 14px 0 20px;
	line-height: 25px;
	background: #50B332 url("../img/backs/green.png") repeat;
	color: #ececec;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

ul#usercontrols li.button a:hover {
	text-decoration: none;
	background-color: #0b9024;
	background-image: none;
	
}

ul#usercontrols li.button a:active {
	text-decoration: none;
	background-color: #087520;
}

span.downarrow, .downarrow {
	height: 0;
	width: 0;
	border-top: 8px solid #a3a3a3;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	line-height: 0;
	font-size: 0;
	position: relative;
	top: 7px;
	margin: 0 4px;
	float: right;
}

div#header span.downarrow {
	top: 9px;
}

span.uparrow, a.uparrow {
	height: 0;
	width: 0;
	border-bottom: 8px solid #a3a3a3;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	line-height: 0;
	font-size: 0;
	position: relative;
	top: 7px;
	margin: 0 4px;
	float: right;
}

.darkback span.downarrow, .darkback span.uparrow {
	border-top: 8px solid #ececec;
}

/* MESSAGES BAR */
#messageswrap {
    position: fixed;
    top: 48px;
    left: 0;
    height: 29px;
    width: 100%;
    z-index: 1000;
	background-color: #620505;
}

#messages {
    position: relative;
    margin: 0 auto;
    height: 29px;
    line-height: 29px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

#messages #hidemessages {
    position: absolute;
    top: 0px;
    right: 0px;
}

#messages a {
    color: white;
    text-decoration: none;
}

#messages p a {
    text-decoration: underline;
}

/* HOMEPAGE */

div#hometimeline {
	position: relative;
}

div#hometimeline p#timelineflag {
	display: block;
	max-width: 130px;
	width: auto;
	text-align: left;
	padding: 0 2px;
	height: 12px;
	line-height: 12px;
	margin-bottom: 2px;
	color: #a3a3a3;
	text-transform: lowercase;
	font-size: 0.9em;
}

div#hometimeline div#timelinecontainer {
	width: 562px;
	height: 40px;
	border: 0;
}

div#hometimeline div#timelinecontainer canvas {
	border: 0;
}

div#hometimeline span#timelinemarker {
	position: absolute;
	top: 46px;
	left: 0;
	margin: 0;
}



ul.topicinfo {
	float: right;
	margin-top: 15px;
}

ul.topicinfo li {
	float: left;
	height: 24px;
	min-width: 40px;
	padding: 0 15px;
	width: auto;
	text-align: center;
	line-height: 24px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid #bfbfbf;
	font-size: 0.9em;
	font-weight: normal;
}

ul.topicinfo li.topictitle {
	z-index: 3;
	position: relative;
	left: 40px;
	color: #666;
	background-color: #e5e5e5;
	border-color: #999;
}

ul.topicinfo li.answercount {
	z-index: 2;
	position: relative;
	left: 20px;
	background-color: #50b332;
	border-color: #005500;
	color: #fff;
	padding-left: 30px;
}

ul.topicinfo li.askercount {
	z-index: 1;
	position: relative;
	background-color: #666;
	color: #fff;
	border-color: #222;
	padding-left: 30px;
}

/* MAIN SPOT HEADLINE */

div.featspot {
	height: 252px;
	width: 960px;
	overflow: hidden;
}

ul.featspotul {
	height: 252px;
	width: 10000px;
	overflow: hidden;
	position: relative;
}

ul.featspotul li {
	height: 180px;
	padding: 36px 0 36px 0;
	width: 961px;
	float: left;
}

h2.featquestion {

}

h2.featquestion span {
	font-size: 18px;
	margin-left: 1px;
	line-height: 12px;
	color: #999;
}

/* HOMEPAGE INTERACTIONS */

div.featinteractions {
	width: 570px;
	height: 82px;
	margin: 0 auto 60px auto;
	position: relative;
	left: 15px;
}

div.featinteractions a.button {
	display: block;
	width: 300px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #50b332 url(../img/backs/answerthis.png) repeat-x;
	height: 80px;
	border: 1px solid #339900;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	line-height: 80px;
	color: #fff;
	text-shadow: 2px 2px 1px #333;
	float: left;
	z-index: 2;
	position: relative;
}

div.featinteractions a.button:hover {
	text-decoration: none;
	background-color: #339900;
}

div.featinteractions a.button:active {
	text-decoration: none;
	background-color: #117700;
}

div.featinteractions ul.interactionslist {
	width: 210px;
	padding-left: 40px;
	position: relative;
	left:-30px;
	height: 77px;
	float: left;
	padding-top: 3px;
	z-index: 1;
	background-color: #eee;
	border:1px solid #bbb;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

div.featinteractions ul.interactionslist li {
	width: 200px;
	height: 20px;
	margin: 3px 0 0 0;
	font-weight: bold;
	line-height: 20px;
}

/* ASK A QUESTION POPOVER */

div#askoverlay {
	padding: 20px;
}

p#yourquestion {
	margin-bottom: 12px;
	font-size: 0.8em;
	color: #888;
}

p#yourquestion span {
	font-size: 1.8em;
	display: block;
	color: #323232;
}

form.topicchoose p.choicewrap {
	float: left;
	height: 22px;
	line-height: 22px;
	margin-right: 14px;
	margin-bottom: 4px;
}

form.topicchoose select {
	
}

form.topicchoose input.newtopic {
	padding: 2px;
	color: #777;
	float: left;
}

form.topicchoose .btn {
	clear: both;
	display: block;
	position: relative;
	top: 10px;
}

/* BROWSE TOPICS POPOVER */
div#browseoverlay {
	width: 795px;
	height: auto;
	overflow: auto;
	padding-bottom: 20px;
}

div#browseoverlay h3 {
	margin: 10px 15px;
	font-size: 1.2em;
}

div#browseoverlay ul {
	width: 780px;
	height: auto;
	overflow: auto;
	padding-bottom: 10px;
	margin-left: 15px;
}

div#browseoverlay ul li {
	float: left;
	width: 260px;
	height: auto;
	overflow: auto;
	padding-bottom: 5px;
}

/* LEFT CONTENT ON TOPIC/CONTENT PAGES */

div#leftcontent {
	padding: 4px 0 10px 0;
}

h3.nodestamp {
	display: none;
}

.nodestamp {
	background-color: #e5e5e5;
	height: 24px;
	width: 60px;
	padding: 0 10px;
	text-align: center;
	line-height: 24px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #bfbfbf;
	font-size: 0.9em;
	font-weight: normal;
	color: #666;
}

div#leftcontent h1 {
	font-size: 2.3em;
	line-height: 2em;
	margin: 0;
}

div#leftcontent div#context {
	position: relative;
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	padding-bottom: 10px;
	overflow: auto;
	height: auto;
}

div#leftcontent div#context p {
	margin: 0 0 5px 0;
	line-height: 1.4em;
}

div#leftcontent div#context div.contextbot, div#leftcontent div#timeline div.contextbot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
/*	background: transparent url(../img/misc/bottom-fade.png) repeat-x;
*/
}

div#leftcontent div#context div.contextbot .less, div#leftcontent div#timeline div.contextbot .less {
	display: none;
}

a.expanderbut {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 2px 0 8px;
	background-color: #ececec;
	color: #a3a3a3;
	text-transform: lowercase;
	font-size: 0.9em;
	line-height: 20px;
	height: 20px;
	cursor: pointer;
}

a.expanderbut:hover {
	text-decoration: none;
	background-color: #dcdcdc;
	color: #a3a3a3;
}

/* TOPIC TIMELINE */

div#leftcontent div#timeline {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 10px;
	overflow: visible;
	height: 230px;
}

div#leftcontent div#timeline h2 {
	font-size: 1.4em;
	font-weight: bold;
}

div#leftcontent div#timeline img.factopinionkey {
	position: relative;
	top: 3px;
	left: 16px;
}

div#leftcontent div#timeline div#timelinespot {
	height: 200px;
	width: 620px;
	margin:12px 0 0 0;
}

/* TIMELINE HOVER STATES */

div#tlhovercontainers {
	width: 0;
	height: 0;
	overflow: visible;
}

div.tlhoverspot {
	width: 300px;
	height: auto;
	overflow: visible;
	padding-top: 24px;
	z-index: 999;
}

div.tlhoverspot span.connector {
	width: 24px;
	height: 20px;
	position: absolute;
	left: 138px;
	top: 5px;
	display: block;
	background: transparent url('../img/backs/trans-dark-arrow.png') no-repeat;
}

div.tlhoverspot div.container {
	width: 270px;
	height: auto;
	overflow: auto;
	padding: 20px 15px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background: transparent url('../img/backs/trans-dark.png') repeat;
	color: #ddd;
}

div.tlhoverspot div.container p.dateline {
	font-size: 0.9em;
}

div.tlhoverspot div.container p.dateline a {
	margin-left: 10px;
}

div.tlhoverspot div.container h4 {
	font-size: 1.7em;
	font-weight: normal;
	padding-right: 10px;
	line-height: 1.2em;
	margin: 4px 0 6px 0;
}

div.tlhoverspot div.container p.storyblurb {
	font-size: 1em;
	line-height: 1.2em;
}

div.tlhoverspot div.container p.storyblurb a {
	font-weight: bold;
	font-style: italic;
	margin-left: 2px;
}

/* REGISTER / REGISTRATION PAGE */

div#leftcontent h2.registerhead {
	font-size: 1.2em;
	margin-bottom: 14px;
}

div#leftcontent form.registerform {
	display: block;
}

div#leftcontent form.registerform p {
	display: block;
	margin: 5px 0 10px 0x;
	line-height: 30px;
	height: 30px;
}

div#leftcontent form.registerform p label {
	display: block;
	float: left;
	width: 110px;
	font-size: 0.8em;
	top: 1px;
	position: relative;
}

div#leftcontent form.registerform input.btn {
	margin: 10px 0 20px 0;
}


/* TABS IMPLEMENTATION */
.ui-tabs .ui-tabs-hide { display: none; }


/* Q&A FILTER OPTIONS */

div.qaoptions {
	height: auto;
	overflow: auto;
	width: 620px;
	margin-bottom: 0;
}

div.qaoptions div#optselect {
	width: 620px;
	height: 24px;
	border-bottom: 1px solid #ececec;
}

div.qaoptions ul.tabs {
	height: 24px;
	overflow: auto;
	width: 400px;
	float: left;
}

div.qaoptions ul.tabs li {
	float: left;
	height: 24px;
	width: auto;
	margin-right: 5px;
}

div.qaoptions ul.tabs li a {
	height: 24px;
	line-height: 24px;
	padding: 0 2px 0 8px;
	background-color: #ececec;
	color: #a3a3a3;
	text-transform: lowercase;
	font-size: 0.9em;
	cursor: pointer;
	display: block;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

div.qaoptions ul.tabs li a:hover {
	text-decoration: none;
	background-color: #dcdcdc;
	color: #a3a3a3;
}

div.qaoptions ul.tabs li.lightback a.asktab {
	background-color: #0B9024;
	color: #ececec;
}

div.qaoptions ul.tabs li.lightback a span.downarrow {
	top: 9px;
}


div.qaoptions ul.tabs li.lightback a.asktab span.downarrow {
	border-top-color: #ececec;
}

/* TOGGLES FOR UPARROW-DOWNARROW */

div.qaoptions ul.tabs li.lightback a span.uparrow, div.qaoptions ul.tabs li.lightback a.ui-state-active span.downarrow {display: none;}
div.qaoptions ul.tabs li.lightback a.ui-state-active span.uparrow {display: block;}

/* My Group */

div.qaoptions ul.tabs li.lightback a.asktab:hover {
	text-decoration: none;
	background-color: #0F9D2E;
	color: #fff;
}

div.qaoptions p.viewby {
	height:20px;
	line-height:20px;
	font-size:0.8em;
	float: left;
	width: 210px;
	margin-right: 6px;
	text-align: right;
}

/* QA INPUT */

/* @end */
div.qaoptions div.optionsdrop {
	padding: 10px 20px;
	background: #f6f6f6;
	border-bottom: 1px solid #ececec;
}

div.qaoptions div#askquestion {
	border-top: 1px solid #0B9024;
	position: relative;
	top: -1px;
}

div.qaoptions div.optionsdrop h4 {
	font-size: 1.1em;
	margin: 10px 0 5px 0;
}

div.qaoptions div.optionsdrop textarea {
	width: 560px;
	font-size: 1.1em;
	padding: 10px;
	height: 100px;
	margin: 5px 0 2px 0;
	border: 1px solid #ccc;
}

div.qaoptions div.optionsdrop input {
	width: 100px;
	font-size: 0.9em;
	line-height: 20px;
	height: 26px;
	margin: 2px 0 5px 0;
	border: 1px solid #ccc;
	cursor: pointer;
}


/* QA MASTERLIST STYLES */

ul.masterlist {
	width: 620px;
	height: auto;
	overflow: auto;
	padding-bottom: 20px;
}

ul.masterlist li {
	position: relative;
	height: auto;
	overflow: auto;
}

/* UNIVERSAL VOTEBOX STYLES */
ul.masterlist li div.votebox {
	width: 72px;
	min-height: 72px;
	padding: 4px;
	height: auto;
	overflow: auto;
	float: right;
	background-color: #e5e5e5;
	text-align: center;
	position: relative;
}

ul.masterlist li div.burningq {
	background: #e5e5e5 url(../img/icns/flame.png) no-repeat 26px 7px;
}

ul.masterlist li div.votebox p.count {
	font-size: 22px;
	font-weight: bold;
	margin: 8px 0 2px 0;
}

ul.masterlist li div.burningq p.count {
	color: #620505;
}

ul.masterlist li div.answeredq p.count {
	color: #088f21;
}

ul.masterlist li div.votebox p.countsub {
	font-size: 0.8em;
}

ul.masterlist li div.votebox a.thumbsup {
	display: block;
	text-decoration: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	background-color: #323232;
	width: 60px;
	margin: 8px auto 3px auto;
	padding: 4px 2px 6px 2px;
	position: absolute;
	bottom: 9px;
	left: 9px;
}

ul.masterlist li div.votebox a.thumbsup span {
	display: none;
}

ul.masterlist li div.votebox a.thumbsup:hover {
	background-color: #339933;
}

ul.masterlist li div.votebox a.thumbsup img {
	display: block;
	margin: auto;
	width: 13px;
	height: 13px;
	margin-bottom: 0;
	position: relative;
	top: 1px;
}

ul.masterlist li div.votebox a.thumbsup span {
	font-size: 0.6em;
	color: #fff;
	margin-top:0;
}





/* TOP-LEVEL QUESTIONS */ 
ul.masterlist li div.question {
	width:618px;
	min-height: 80px;
	height: auto;
	overflow: auto;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	margin-top: 17px;
}

ul.masterlist li div.question div.qabox {
	width: 518px;
	padding: 12px 10px 10px;
	height: auto;
	overflow: auto;
	position: relative;
	min-height: 56px;
	z-index: 99;
}

ul.masterlist li div.question div.qabox p.qa {
	margin-bottom: 20px;
	font-size: 1.1em;
	z-index: 100;
}

ul.masterlist li div.question div.qabox p.userinfo, ul.masterlist li div.answer div.qabox p.userinfo {
	position: absolute;
	bottom: 8px;
	left: 10px;
	font-size: 0.8em;
	z-index: 100;
}

ul.masterlist li div.question div.qabox p.userinfo span.username, ul.masterlist li div.answer div.qabox p.userinfo span.username {
	font-weight: bold;
}

ul.masterlist li div.question div.qabox a.answerthis, ul.masterlist li div.answer div.qabox a.answerthis {
	margin-left: 10px;
	font-weight: bold;
}

ul.masterlist li div.question div.qabox a.collapseanswers {
	display: none;
}


/* EXTRA ANSWER STYLES TO SET APART FROM QUESTIONS */

ul.masterlist li div.answer {
	width:auto;
	min-height: 80px;
	height: auto;
	overflow: auto;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	margin-bottom: 17px;
	padding-left: 14px;
	position: relative;
}

ul.masterlist li div.answer div.qabox {
	width: auto;
	padding: 12px 10px 30px;
	height: auto;
	overflow: auto;
	position: relative;
	min-height: 56px;
}

ul.masterlist li div.answer div.qabox p.qa {
	margin-bottom: 15px;
	font-size: 1.1em;
	z-index: 100;
}

ul.masterlist li div.answer div.qabox div.answerclip {
	margin: 0 0 25px 0;
	background-color: #e5e5e5;
	padding: 10px;
	font-size:0.9em;
	z-index: 100;
}

ul.masterlist li div.answer div.qabox div.answerclip p.cliptext {
	margin-bottom: 10px;
	line-height: 1.25em;
	font-style: italic;
	font-size: 1.1em;
}

ul.masterlist li div.answer div.qabox div.answerclip p.clipcitation {
	font-weight: bold;
	margin-bottom: 6px;
}

ul.masterlist li div.answer a.flagasopinion {
	margin-left: 10px;
	font-weight: bold;
}

/* HANDLE NESTED ANSWERS WITH INDENTS */
ul.masterlist li ul.answers {
	margin-left: 29px;
	border-left: 1px solid #ccc;
	margin-bottom: 12px;
	padding-top: 17px;
}

ul.masterlist li ul li div.answer {
	margin-left: 15px;
	margin-bottom: 17px;
}

ul.masterlist li ul li ul li div.answer {
	margin-left: 15px;
	margin-bottom: 17px;
}

ul.masterlist li ul li ul li ul li div.answer {
	margin-left: 15px;
	margin-bottom: 17px;
}


/* DEAL WITH THE Question: / Answer: */
/*
span.qaflag {
	font-size: 0.8em;
	line-height: 0.8em;
	font-weight: bold;
	padding: 0.1em 0.5em;
	background: #323232;
	color: #fff;
	position: relative;
	top: -1px;
	margin-right: 3px;
}
*/
div.qflag {
	font-size: 5.5em;
	color: #e3e3e3;
	font-weight: bolder;
	position: absolute;
	left: -10px;
	top:6px;
	z-index: 1;
}
/* THIS IS FOR ARROWS
div.aflag {
	font-size: 5.5em;
	height: 0;
	width: 0;
	border-left: 12px solid #ddd;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	line-height: 0;
	font-size: 0;
	position: relative;
	top: 7px;
	margin: 0 4px;
	float: right;
	position: absolute;
	left: -4px;
	top:2px;
	z-index: 1;
}
*/

div.aflag {
	width: 15px;
	background: transparent;
	border-top: 1px solid #ccc;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}


/* ANSWER FORM DROPDOWN */
form.answerform, form.replyform {
	display:block;
	height: auto;
	overflow: auto;
	width: auto;
	padding: 15px 15px 15px 15px;
	margin-bottom: 25px;
	background-color: #e5e5e5;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

form.answerform h4, form.answerform label, form.replyform h4, form.replyform label {
	display: block;
	margin-bottom: 6px;
}

form.answerform textarea, form.replyform textarea {
	height: 100px;
	padding: 5px;
	border: 1px solid #888;
	margin-bottom: 8px;
}

form.answerform textarea {
	width: 475px;
}

form.answerform input, form.replyform input {
	padding: 0 5px;
	line-height: 22px;
	height: 22px;
	border: 1px solid #888;
	margin-bottom: 8px;
}

form.answerform input {
	width: 475px;
}

ul.masterlist li ul li form.replyform textarea, ul.masterlist li ul li form.replyform input {
	width:  415px;
}

ul.masterlist li ul li ul li form.replyform textarea, ul.masterlist li ul li ul li form.replyform input {
	width:  355px;
}

ul.masterlist li ul li ul li ul li form.replyform textarea, ul.masterlist li ul li ul li ul li form.replyform input {
	width:  295px;
}

form.answerform input.attachsubmit, form.replyform input.attachsubmit, ul.masterlist li ul li form.replyform input.attachsubmit, ul.masterlist li ul li ul li form.replyform input.attachsubmit, ul.masterlist li ul li ul li form.replyform input.attachsubmit {
	width: 100px;
	margin-bottom: 0;
}

/* ANSWER FLAGS */
.earmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	display: block;
	background: url(../img/backs/opinion-shading.png) repeat-y;
	font-size: 0.7em;
	color: #fff;
	font-weight: bold;
}

.earmark .textspan {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: relative;
	left: -1.6em;
	top: 2.2em;
}

/* My Comment */

.accepted {
	background-color: #339933;
}

.moderator {
	/* background-color: #006699; */
}


/* SIDEBAR STYLES */

p.toplabel {
	float: left;
	line-height: 26px;
	font-size: 0.9em;
	position: relative;
	top: 1px;
	font-weight: bold;
	color: #999;
}

ul.sidetabs {
	float: left;
	width: 158px;
	z-index: 100;
	height:26px;
}

ul.sidetabs li {
	float: left;
	height: 24px;
	width: 44px;
	margin-left: 6px;
	position: relative;
	background: #fff;
	border: 1px solid #d7d7d7;
}

ul.sidetabs li.ui-state-active {
	border-bottom: 1px solid #fff;
	top: 1px;
}

ul.sidetabs li img {
	margin: 4px 14px;
}

div.toppanes {
	clear: both;
	border: 1px solid #d7d7d7;
	padding: 20px 16px;
}

div.toppanes .paneicon {
	float: left;
	margin-right: 5px;
	position: relative;
	top: -6px;
}

div.toppanes h2 {
	font-size: 1.7em;
}

div.toppanes ol.top5 {
	clear: both;
	margin: 15px 0 0 24px;
	list-style-type: decimal;
	list-style-position: outside;
	color: #aaa;
}

div.toppanes ol.top5 li {
	margin-bottom: 10px;
}

div.toppanes ol.top5 li p {
	line-height: 130%;
	color: #323232;
}

div.toppanes ol.top5 li p a {
	font-size: 0.8em;
	font-weight: bold;
}

.hidden {
    display: none;
}

/* TOOLTIP */
#tooltip, .tooltip {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 0.8em;
	position: absolute;
	z-index: 3000;
	border: 1px solid #0F9D2E;
	color: #fff;
	padding: 5px 8px;
	opacity: 0.85;
	background: url('../img/backs/trans-dark.png');
}
#tooltip h3, #tooltip div, .tooltip h3, .tooltip div { margin: 0; }

/* WHAT'S THIS TOOLTIP LINK STYLE */
/* Right now I'm using this to give a little bit of explaination to */
/* the burning questions list in the sidebar, but I imagine we might use this */
/* site-wide in the future. */
.whatsthis {
    font-size: 0.8em;
    font-weight: bold;
}

/* STYLES FOR SIDEBAR */
#sidebar .ui-tabs-panel p {
    margin-top: 5px;
}


/* FOOTER */
div#footerwrap {
	background: #50b332 url(../img/backs/green.png) repeat;
	height: auto;
	width: 100%;
	overflow: auto;
	border-top: 1px solid #323232;
	padding-bottom: 50px;
}

div#footer {
	padding-top: 40px;
	height: auto;
	overflow: auto;
	padding-bottom: 25px;
}

div#footer .footertabs {
	height: 30px;
}

div#footer .footertabs li {
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	background-color: #66cc66;
	float: left;
	margin-right: 4px;
}

div#footer .footertabs li.ui-state-active { background-color: #323232; }
div#footer .footertabs li a { color: #323232; }
div#footer .footertabs li a:hover { text-decoration: none; }
div#footer .footertabs li.ui-state-active a { color: #fff; }
div#footer .footertabs li a:hover { text-decoration: none; }

div#footer div#askdiv {
	position: relative;
}

div#footer form.footerinput {
	height: auto;
	overflow: auto;
	margin-bottom: 50px;
}

div#footer form.footerinput input.footerinput {
	width: 770px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	font-weight: bold;
	border: 2px #323232 solid;
	padding: 0 10px;
	float: left;
	margin-right: 10px;
	color: #888;
}


div#footer form.footerinput .counter {
	position:absolute;
	right:170px;
	top:-22px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
div#footer form.footerinput .warning{color:#600;}	
div#footer form.footerinput .exceeded{color:#e00;}

div#footer form.footerinput .footersubmit {
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display: block;
	float: left;
	width: 140px;
}

div#footer div#asktopicsdrop {
	padding: 15px;
	height: auto;
	overflow: auto;
	width: 762px;
	position: relative;
	top: -2px;
	background-color: #323232;
	color: #fff;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	display: none;
}

div#footer div#asktopicsdrop h3 {
	margin: 0 6px 12px 6px;
	font-size: 1.3em;
	color: #50b332;
}

div#footer div#asktopicsdrop ul li {
	width: 30%;
	margin-right: 3%;
	margin-bottom: 10px;
	float: left;
}

div#footer div#asktopicsdrop ul li input {
	margin-right: 5px;
	border: 0;
}

div#footer h4 {
	font-size: 2.5em;
	font-weight: bold;
	padding-bottom: 12px;
	margin-bottom: 15px;
	border-bottom: 1px solid #478c32;
}

div#footer ul#footer3col {
	width: auto;
	height: auto;
	overflow: visible;
}

div#footer ul#footer3col li.footercol {
	overflow: auto;
	height: auto;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

div#footer ul#footer3col li.footercol ul.footerlist {
	width: auto;
	height: auto;
	overflow: auto;
	list-style: disc;
	padding-left: 20px;
}

div#footer ul#footer3col li.footercol ul.footerlist li {
	margin-bottom: 12px;
	font-size: 1.1em;
}

div#footer ul#footer3col li.footercol ul.footerlist li a {
	color: #fff;
}

div#footer p.footerline {
	text-align: center;
	font-size: 0.9em;
}

