# Ignore .pyc files
*.pyc

# Ignore vim swap files
*.swp

# Ignore the local settings
settings_local.py

# Ignore rope refactoring tool project directory
.ropeproject

# Ignore sqlite3 database for my netbook development version.
radregator.db

# Ignore compiled message files.
*.mo
