<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
 
	<title>Radregator || {% block pagetitle %}Home{% endblock %}</title> 
 
	<meta http-equiv="content-type" content="text/html;charset=utf-8" /> 
	<meta http-equiv="content-style-type" content="text/css" /> 
 
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	<meta name="author" content="A.Paley" /> 
	<meta name="copyright" content="" /> 
	<meta name="robots" content="all,follow" />	
	<meta name="viewport" content="width=960" /> 
	
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" /> 
	<link href="/static/css/colorbox.css" rel="stylesheet" type="text/css" /> 
	
	
	<script src="/static/js/jquery.tools.min.js"></script>
	<script src="/static/js/functions.js"></script>
	<script src="/static/js/jquery.colorbox-min.js"></script>
 
	<script type="text/javascript"> 
	
  		$(document).ready(function() {
  			// Handle tabs
  			$("ul.tabs").tabs("div.panes > div");
  
  			// Flip "Question/Concern"
  			$('.questorcon').change(function() {
				var dropval = $(this).val();
				var parent = $(this).closest("form").attr("id");
				$("#"+parent+" .flipquestorcon").html(dropval);
			});

            // Switch tab, toggle topic setting
            var txt = $("ul.tabs a.current").html();
            $("input.topic").attr("value", txt);
            
            $('.switchtab').click(function() {
                var txt = $(this).html();
                $("input.topic").attr("value", txt);
            });
			
			// Registration/Login Overlay
			$('a.cbox').colorbox({width:750, height:450, iframe:true});

            // Response links
            $('.youagree a').click(function() {
                var thiscomment = $(this).closest('.comment'); 
                var thiscomment_id = 
                    thiscomment.attr('id').replace('comment-', '');
                var response_type = 'concur';

                $.ajax({
                    type: "post", 
                    url: "/api/json/comments/" + thiscomment_id + "/responses/",
                    data: { type : response_type },
				    success: function(data){
                        // Update counter
                        var count = thiscomment.children(".commentguts").children(".response-counter").children('.count');
                        count_val = count.text();
                        count_val++;
                        count.text(count_val);
					},
				    error: function (requestError, status, errorResponse) {
                        var response_text = requestError.responseText;
                        var response_data = jQuery.parseJSON(response_text);
						var errorNum = requestError.status;

						if (errorNum == "401") {
							var errorMsg = response_data.error; 
                            // TODO: Prompt user to login
						} 
                        else if (errorNum == "403") {
							var errorMsg = response_data.error; 
                            // TODO: Tell user why they can't respond again
                        }

                        console.error(errorMsg);
				    }
                });
            });
            // VARIABLE VERTICAL ALIGNMENT
			$('.valign').valign();
			
  		});
  		
	</script> 	
	
	{% block addscripts %}
   	{% endblock addscripts %}
 
</head> 

   <body>
       <div id="messages"></div> 
	   <div id="pagewrap">
		   <div id="header">
		<div class="reglog">
            {% if user.is_authenticated %}
            Hello {{ user.username }}. <a href='/logout'>Not you?</a>
            {% else %}
			<a class="cbox" href="/authenticate">Login or register</a>
            {% endif %}
		</div>
				
				<h1><a href="#" id="logo">Logo</a></h1>
			</div>
		
		   
		   {% block body %}
		   {% endblock body %}
		   
	   </div>
   </body>

</html>
