<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
 
	<title>{{ site_name }}</title> 
 
	<meta http-equiv="content-type" content="text/html;charset=utf-8" /> 
	<meta http-equiv="content-style-type" content="text/css" /> 
 
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	<meta name="author" content="A.Paley" /> 
	<meta name="copyright" content="" /> 
	<meta name="robots" content="all,follow" />	
	<meta name="viewport" content="width=960" /> 
	
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
	<link href="{{ MEDIA_URL }}css/master.css" rel="stylesheet" type="text/css" /> 
	<link href="{{ MEDIA_URL }}css/master-evanston.css" rel="stylesheet" type="text/css" /> 
	<link href="{{ MEDIA_URL }}css/colorbox.css" rel="stylesheet" type="text/css" /> 

    {% block addstyles %}
    {% endblock %}

	<script src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
	<script src="{{ MEDIA_URL }}js/functions.js"></script>
	<script src="{{ MEDIA_URL }}js/jquery.colorbox-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    {% if is_reporter %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/functions-admin.js"></script>
    {% endif %}

    {% block addscripts %}
    {% endblock %}
</head> 
<body class="{{ body_classes }}">
        <div id="fb-root"></div>
        <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({appId: '{{ fb_app_id }}', status: true, cookie: true,
                     xfbml: true});
        };

        (function() {
          var e = document.createElement('script'); e.async = true;
          e.src = document.location.protocol +
             '//connect.facebook.net/en_US/all.js';
          document.getElementById('fb-root').appendChild(e);
        }());

       </script>
	<div id="wrapper" class="container_12">
		<div id="headerwrap">
		<!--THIS IS HEADER "LOGGED IN"-->
        {% if user.is_authenticated %}
			<div id="header" class="loggedin">
				
				<ul id="usercontrols" class="grid_5">
					<li class="button darkback"><a href="#askquestion">Ask a Question <span class="downarrow"></span></a></li>
					<li class="lightback"><a href="#">Favorites <span class="downarrow"></span></a></li>
					<li class="lightback"><a href="#">Recent Q&As <span class="downarrow"></span></a></li>
                    {% if is_reporter %}
                    {% include "core-topic-usercontrols-reporter.html" %}
                    {% endif %}
				</ul>
				
				<h1 class="logo">{{ site_name }}</h1>
				<p id="greetuser">Hello, {{user.username}}. <a href="/logout" id="logoutlink">Log out</a>?</p>
								
			</div> 
		<!--CLOSE HEADER "LOGGED IN"-->
			
        {% else %}
		<!--THIS IS HEADER "LOGGED OUT"-->
		<div id="header" class="loggedout">
				
				<div id="facebooklogin">
					<p>or</p>
					<a href="#" id="fbloginbut">Login with Facebook</a>
				</div>
				<form id="usersignin">
					<label>Login:</label>
					<input type="text" value="username" name="username" class="textinput" id="usersignin-username" />
					<input type="password" value="password" name="password" class="textinput" id="usersignin-password" />
					<input type="submit" value="submit" name="submit" class="submit" id="usersignin-submit" />
				</form>
				
				
				<h1 class="logo">Querity</h1>
				<a href="/register" id="greetsignup">Signup</a>
								
		</div>
		<!--CLOSE HEADER "LOGGED OUT"-->

        {%endif%}
		</div>
		
		
		
		<div id="leftcontent" class="grid_8">
            {% block leftcontent %}	
            {% endblock %}
        </div>
		
		<div id="sidebar" class="grid_4">
		    {% block sidebar %}
            {% endblock %}
		</div>
		
		
	</div>
</body>

</html>
