<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
 
	<title>{{ site_name }}</title> 
 
	<meta http-equiv="content-type" content="text/html;charset=utf-8" /> 
	<meta http-equiv="content-style-type" content="text/css" /> 
 
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	<meta name="author" content="TeamRadregator" /> 
	<meta name="copyright" content="" /> 
	<meta name="robots" content="all,follow" />	
	<meta name="viewport" content="width=960" /> 
	
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
	<link href="{{ MEDIA_URL }}css/master.css" rel="stylesheet" type="text/css" /> 
	<link href="{{ MEDIA_URL }}css/master-evanston.css" rel="stylesheet" type="text/css" /> 
	<link href="{{ MEDIA_URL }}css/jquery.tooltip.css" rel="stylesheet" type="text/css" /> 
	<link href="{{ MEDIA_URL }}css/colorbox.css" rel="stylesheet" type="text/css" /> 

	<script src="{{ MEDIA_URL }}js/jquery.js"></script>
	<script src="{{ MEDIA_URL }}js/functions.js"></script>
	<script src="{{ MEDIA_URL }}js/jquery.colorbox-min.js"></script>
	<script src="{{ MEDIA_URL }}js/jquery.rotate.js"></script>
	<script src="{{ MEDIA_URL }}js/jquery-ui.min.js"></script>
	<script src="{{ MEDIA_URL }}js/raphael-min.js"></script>

    {% block addstyles %}
    {% endblock %}

    {% if is_reporter %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/functions-admin.js"></script>
    {% endif %}

    <script type="text/javascript">
		$(document).ready( function () {
			$( ".gotabs" ).tabs();
			$( ".gotabscollapse" ).tabs({collapsible: true, fx: { height: 'toggle', duration: 'fast' }});

			
            $('#usersignin').unbind('submit', handleUserSignInForm).bind('submit', handleUserSignInForm);
            $('#messageswrap').hide(); // Hide messages bar initially



            $('#asksubmit').unbind('click', paintQuestionTopics).bind('click', paintQuestionTopics);

            $('#askfooter').unbind('submit', handleFooterQSubmit).bind('submit', handleFooterQSubmit);

            // Handler for collapsing the messages bar
            $('#messages #hidemessages a').click(function() {
                $('#messageswrap').hide();
                return false;
            });

            {% if user.is_authenticated %}
            // Set a flag that shows that tells other javascript code
            // that the user is logged in.
            setUserAuthenticated(); 

            // Handler for ask a question button in top bar
          
            {% endif %}
			
			$("#usercontrols a.askquestion").click(function() {
				$("div#footer").css("height","800px");
				$.scrollTo( 'div#footer', 300, {offset: {top:-35, left:0} } );
                paintQuestionTopics();
				return false;
			});

            // Populate "Top Topics" and "Active Topics" lists in footer.
	        getTopics(); 

            // Populate "Top Questions" list in footer.
            getTopQuestions();
	   
	
	});
    
    </script>

    <!-- Get Satisfaction Feedback tab widget -->
    <script type="text/javascript" charset="utf-8">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};

      feedback_widget_options.display = "overlay";  
      feedback_widget_options.company = "sourcerer";
      feedback_widget_options.placement = "right";
      feedback_widget_options.color = "#50B332";
      feedback_widget_options.style = "problem";

      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>

    {% block addscripts %}
    {% endblock %}

    {% if GOOGLE_ANALYTICS_ACCOUNT %}
    {% include "google_analytics_tracker.html" %}
    {% endif %}
</head> 
<body class="{{ body_classes }}">
	<div id="wrapper" class="container_12">
		<div id="headerwrap">
		<!--THIS IS HEADER "LOGGED IN"-->
        {% if user.is_authenticated %}
			<div id="header" class="loggedin">
				
				<ul id="usercontrols" class="grid_5">
					<li class="button darkback"><a href="#askquestion" class="askquestion"><span class="downarrow"></span>Ask a Question</a></li>
                    <!--
					<li class="lightback"><a href="#"><span class="downarrow"></span>Favorites</a></li>
					<li class="lightback"><a href="#"><span class="downarrow"></span>Recent Q&As</a></li>
                    -->
                    {% if is_reporter %}
                    {% include "core-topic-usercontrols-reporter.html" %}
                    {% endif %}
				</ul>
				
				
				<!--<h1 class="logo">{{ site_name }}</h1>-->
				<h1 class="templogo"><a href="{% url frontpage %}"><span>Source</span>rer</a> <span class="small">beta</span></h1>
				<p id="greetuser">Hello, {{user.username}}. <a href="/logout" id="logoutlink">Log out</a>?</p>
								
			</div> 
		<!--CLOSE HEADER "LOGGED IN"-->
			
        {% else %}
		<!--THIS IS HEADER "LOGGED OUT"-->
		<div id="header" class="loggedout">
				
				<form id="usersignin">
					<label>Login:</label>
					<input type="text" value="username" name="username" class="textinput" id="usersignin-username" onblur="if (this.value=='') this.value=this.defaultValue;" onfocus="if (this.value==this.defaultValue) this.value='';" />
					
					<input type="password" value="password" name="password" class="textinput" id="usersignin-password" onblur="if (this.value=='') { this.value=this.defaultValue; } else {}" onfocus="if (this.value==this.defaultValue) { this.value=''; }" />
					<input type="submit" value="submit" name="submit" class="submit" id="usersignin-submit" />
                    <br>
	                <div id="pass_reset_link">Forgot your password? <a href="/accounts/password/reset/">Reset it!</a></div>
				</form>
				
				

				<!--<h1 class="logo">Querity</h1>-->
				<h1 class="templogo"><a href="{% url frontpage %}"><span>Source</span>rer</a> <span class="small">beta</span></h1>
				<a href="/accounts/register/" id="greetsignup">Signup</a>
								
		</div>
		<!--CLOSE HEADER "LOGGED OUT"-->

        {%endif%}
		</div>

        <!-- MESSAGE BAR FOR MESSAGES/ERRORS -->
        <div id="messageswrap" style="display:none;">
            <div id="messages" class="container_12">
                <p></p>

                <div id="hidemessages">
                    <a href="#">
                        <span>Close</span>
                        <!--<span class="uparrow"></span>-->
                    </a>
                </div>
            </div>
        </div>
		
	    {% block pagecontent %}
        {% comment %}
        Content placed here will fit in a centered column. 
        {% endcomment %}
        {% endblock %}
	</div>

    {% block pagecontentwide %}
    {% comment %}
    Content placed here will span the width of the browser window.

    You should not populate pagecontent if you choose to put content in
    pagecontentwide.
    {% endcomment %}
    {% endblock %}
		
	
	
<div id="footerwrap">	
	<div id="footer" class="container_12">
		<!--START FOOTER ASK/SEARCH INPUT-->
		<div class="gotabs">
			<ul class="footertabs">
				<li><a href="#askdiv">Ask a question</a></li>
				<!--<li><a href="#searchdiv">Search</a></li>-->
			</ul>
			<div class="footerpanes" id="askdiv">
				<form id="askfooter" class="footerinput">
					<input type="text" id="askinput" class="footerinput" name="askstring" value="Enter your question" onblur="if (this.value=='') this.value=this.defaultValue;" onfocus="if (this.value==this.defaultValue) this.value='';topicsDropShow();if(!$('#asktopicsdrop').is(':visible'))paintQuestionTopics();">
					<a href="javascript:;" id="asksubmit" class="footersubmit blackback">Ask</a>
					<div id="asktopicsdrop">
						<h3>Choose a topic your question should appear under:</h3>
                        <div id="ask_topics_form_content">
<!-- for now we don't want to allow users to create topics.... keep them constrained to what sourcerer admins provide 
<input type="radio" name="topic" value="Topic Example"><input name="newtopic" class="newtopic" id="newtopic" value="Enter a topic title" onblur="if (this.value=='') this.value=this.defaultValue;" onfocus="if (this.value==this.defaultValue) this.value='';"></br> -->
                        </div>

                        
                        <input type="submit" value="Submit" />
				</form>
					</div>

			</div>
			<!--<div class="footerpanes" id="searchdiv">
				<form id="searchfooter" class="footerinput">
					<input type="text" id="searchinput" class="footerinput" name="searchstring" value="Search questions, answers and topics" onblur="if (this.value=='') this.value=this.defaultValue;" onfocus="if (this.value==this.defaultValue) this.value='';">
					<a href="javascript:;" id="searchsubmit" class="footersubmit blackback">Search</a>
				</form>
			</div>-->
		</div>
		<!--END FOOTER ASK/SEARCH INPUT-->
		<!--START THREE-COLUMN "TOP" SECTION-->
		<ul id="footer3col">
			<li class="footercol grid_4">
				<h4>Top Topics</h4>
				<ul class="footerlist" id="toptopicslist">
				</ul>
			</li>
			<li class="footercol grid_4">
				<h4>Active Topics</h4>
				<ul class="footerlist" id="activetopicslist">
				</ul>
			</li>
			<li class="footercol grid_4">
				<h4>Top Questions</h4>
				<ul class="footerlist" id="topquestionslist">
				</ul>
			</li>
		</ul>		
		<!--END THREE-COLUMN "TOP" SECTION-->
		
		<p class="footerline">Legal info + links, contact, etc</p>
	</div>
	
	<div style="display:none;">
		<div class="askoverlay" id="askoverlay">
			<p id="yourquestion">Your question: <span></span></p>
			<form action="" class="topicchoose">
				<p class="choicewrap">
					<label for="topic">Choose a topic:</label>
					<select name="topic" id="topicselect">
						<option></option>
						<option>New topic...</option>
						<option>Example #1</option>
						<option>Example #2</option>
						<option>Example #3</option>
					</select>
				</p>
				<input name="newtopic" style="display:none;" class="newtopic" id="newtopic" value="Enter a topic title" onblur="if (this.value=='') this.value=this.defaultValue;" onfocus="if (this.value==this.defaultValue) this.value='';">
			    <input type="submit" class="btn" value="Ask!" />
			</form>
		</div>
	</div>

	
</div>

</body>

</html>
