{% extends "base.html" %}
{% load i18n %}
{% block addscripts %}
{% endblock %}
{% block pagecontent %}
<h1>Uh oh! Something didn't work out like it should have.</h1>
<BR>
{{errors}}
<BR>
<BR>
<div class="" id="clipper">
  <div id="urlEntry" style="">
    <form name="form1" method='POST' action=''>
    <table>
      {{form.as_table}}
      {% csrf_token %}
      <tr>
        <th><br></th>
      </tr>
      <tr>
        <th><input type="submit" class="btn" value="Submit" /></th>
        <th> </th>
      </tr>
    </table>
    </form>
  </div>
</div>
<BR><BR>
{% endblock %}
