<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
  {% autoescape off %}{{requested_page_head}}{% endautoescape %}
  <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      var ifrm_form = $("#requested_page_frm").contents().find("#form_div");
      var this_form = $("#form1");
      $(this_form).remove();
      $(ifrm_form).append($(this_form).html())
      //find a way to call functions in the iframe document
      //call prep_form() and things should get initialized
      //i dont think i need to worry about refresh since the errors 
    });

  </script>
  </head>
  <body>
  <IFRAME SRC="/clipper_ifrm/" WIDTH="100%" HEIGHT="100%" id="requested_page_frm" style="overflow-y:auto;"></IFRAME>
        <form id="form1" name="form1"  method='POST' action='/api/json/clipper_select/' style="display:none;">
          <div id='clipper_highlights_textarea' style="float:left;padding:10px;font-family:arial;font-size:12px;color:black;width=27%;">
          {{form.selected_text.errors}}
          <label for="id_selected_text" style="display:block;">Highlighted text appears here...</label><br>
          {{form.selected_text}}
        </div>


        <div id='clipper_user_comments_area' style="float:left;padding:10px;font-family:arial;font-size:12px;color:black;width=27%;">
          {{form.user_comments.errors}}
          <label for="id_user_comments" style="display:block;">Your comments</label><br>
          {{form.user_comments}}

        </div>


        <div id="clipper_meta_data" style="float:left;padding:10px;font-family:arial;font-size:12px;color:black;width=33%;">
          {{form.title.errors}}Title:<div id="id_title_lbl" style="display:inline;"></div>{{form.title}}
          <BR><BR>
          {{form.author.errors}}Author:<div id="id_author_lbl" style="display:inline;"></div>{{form.author}}
          <BR><BR>
          {{form.date_published.errors}}Date Published:<div id="id_date_published_lbl" style="display:inline;"></div>{{form.date_published}}
          <BR><BR>
          {{form.comment_id_field}}
          {{form.topic_id_field}}
          {{form.url_field}}
          {% csrf_token %}
          <p class="errormsg" style="display:none;"></p>

          <input type="submit" class="btn" value="Submit" />
        </div>

      </form>

  <div class="" id="requested_page" style="margin-top:275px;" >
  {% autoescape off %}{{requested_page_body}}{% endautoescape %}
  </div>
  </body>
</html>
