<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    {% autoescape off%}
    {{requested_page_head}}
    {% endautoescape%}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>radregator</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/demo.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.8.6.custom.css">
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.colorbox-min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
  <style>
    #field { margin-left: .5em; float: left; }
    #field, label { float: left; font-family: Arial, Helvetica, sans-serif; font-size: small; }
    br { clear: both; }
    input { border: 1px solid black; margin-bottom: .5em;  }
    input.error { border: 1px solid red; }
    label.error {
      background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/unchecked.gif') no-repeat;
      padding-left: 16px;
      margin-left: .3em;
    }
    label.valid {
      background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
      display: block;
      width: 16px;
      height: 16px;
    }
    </style>

<script type="text/javascript">

    if(!window.radregator){
        radregator = {};
    }

    radregator.select = {};

    function toggleItem(id){
      var item = document.getElementById(id);
      if(item){
        if ( item.style.display == "none"){
          item.style.display = "";
        }
        else{
          item.style.display = "none";
        } 
      }
    }


    //Want to make sure something in the selection has been filled in
    //because if we let django forms do it, we'll have to save the page
    //we harvested into a temp location and load it back out 
    //by checking here we can forefront that process and save a page load
    radregator.select.checkSelectionForm = function(){
      var s_text = $("#id_selected_text").val();
      if(s_text == ''){
        alert('Please highlight some text that relates to the comment you are responding to before submitting.');
        return false;
      }
    }

    radregator.select.getSelected = function(){
      var txt = '';
      if (window.getSelection){
        txt = window.getSelection();
      }
      else if (document.getSelection){
        txt = document.getSelection();
      }
      else if (document.selection){
        txt = document.selection.createRange().text;
      }
      else return;
      return txt;
    }


    radregator.select.mouseup = function(){
        var st = radregator.select.getSelected();
        if(st!=''){
          $("#id_selected_text").val(st);
        }
    }

    $(function() {
        $( "#id_date_published" ).datepicker();
      });

    $(document).ready(function(){
        $(document).bind("mouseup", radregator.select.mouseup);
        $(document).bind("submit", radregator.select.checkSelectionForm);

        $("#form1").validate({
      rules: {
        id_date_published: {
          required: true,
          date: true
        }
      }
    });
        //hide elements
        $("#id_author").hide();
        $("#id_date_published").hide()
        $("#id_title").hide()
        $("#id_user_comments").hide()
        $("#clipper_help").hide()
        var author_name = $("#id_author").val();
        var title_name = $("#id_title").val();
        var dater = $("id_date_published").val();
        dater = ''; //for now, no default val for date is specified
        $("#id_author_lbl").html(author_name + " <a href=\"javascript:exposeField('id_author')\">Not right?</a>");
        $("#id_date_published_lbl").html(dater + " <a href=\"javascript:exposeField('id_date_published')\">Not right?</a>");
        $("#id_title_lbl").html(title_name + " <a href=\"javascript:exposeField('id_title')\">Not Right?</a>");
    });
    function toggleForms(){
      if($("#clipper_i_am").is(":visible")){
        $('#clipper_i_am').hide();
        $('a#expand_link').text("SHOW FORMS");
      }
      else{
        $("#clipper_i_am").show('drop')
        $('a#expand_link').text("HIDE FORMS");
      }
    }
    function exposeField(val){
      if($("#"+val).is(":visible")){
        $("#"+val).hide();
        var field_val = $("#"+val).val();
        $("#"+val+"_lbl").html(field_val + " <a href=\"javascript:exposeField('"+val+"')\">Not right?</a>");
      }
      else{
        $("#"+val).show('drop');
        $("#"+val+"_lbl").html(" <a href=\"javascript:exposeField('"+val+"')\">Close</a>");
    }}
    function showHelp(){
      if($("#clipper_help").is(":visible")){
        $("#clipper_help").hide();
      }
      else{

        $("#clipper_help").show('drop');
      }
    }
</script>

</head>
  <body>
  <div id="clipper_i_am" class="clipper_styles" style="border:.2em dotted #900;background:white;font-family:arial;font-size:12px;color:black;position:fixed;width:100%;z-index:1000;">
    <a href="javascript:showHelp()">A small explanation...</a>
    <div id="clipper_help" class="clipper_styles"> 

  The page should appear just a little bit below all of these confusing forms.  We'd like to attribute everything to a source and a reporter, so we tried to identify that stuff but I'm not totally confident it worked.  First, highlight text in this article that you think is most pertinent and relates to a question or a comment.  Then, if you have time, check over the other fields and fix what we got wrong.
    </div>
    <BR>
    <form name="form1"  method='POST' action='/clipper_select'>
    <div id='clipper_highlights_textarea' style="float:left;padding:10px;font-family:arial;font-size:12px;color:black;">
    {{form.selected_text.errors}}
    <label for="id_selected_text" style="display:block;">Highlighted text appears here...</label>
    {{form.selected_text}}
    </div>
    <div id="clipper_meta_data" style="float:left;padding:10px;font-family:arial;font-size:12px;color:black;">
    {{form.title.errors}}Title:<div id="id_title_lbl"></div>{{form.title}}
    <BR>
    {{form.author.errors}}Author:<div id="id_author_lbl"></div>{{form.author}} 
    <BR>
    {{form.date_published.errors}}Date Published:<div id="id_date_published_lbl"></div>{{form.date_published}}
    <BR>
    {{form.comment_id_field}}
    {{form.url_field}}
    {% csrf_token %} 

    <input type="submit" class="btn" value="Submit" />
    </div>

    <div id='clipper_user_comments_area' style="float:left;padding:10px;font-family:arial;font-size:12px;color:black;">
    {{form.user_comments.errors}}
    <label for="id_user_comments" style="display:block;"><a href="javascript:$('#id_user_comments').show();">Want to add a comment?</a></label>
    {{form.user_comments}}

    </div>
    </form>

  </div>
  <div id="clipper_expand" style="border:1px solid black;background:white;font-family:arial;font-size:12px;color:black;"><a id='expand_link' href="javascript:toggleForms()">SHOW FORMS</a></div>
<BR> 

<div class="" id="requested_page" >
{% autoescape off %}
{{requested_page_body}}
{% endautoescape %}


</div>
  </body>
</html>
