<script type="text/javascript">

</script>


				<form action = "/clipper/{{theanswer.id}}/{{topic.id}}/" method="post" class="replyform" id="replyform-{{theanswer.id}}">
          <h4>Reply to this answer:</h4>
          {{clipper_url_form.user_comments}}<BR>
					<label>Cite a source for this reply (enter a URL): </label>
					{{clipper_url_form.url_field}}
		<!--			<input type="hidden" value="3" name="comment_type_str">
					<input type="hidden" value="3" name="id_in_reply_to" id="id_in_reply_to"> -->
                    <input type="hidden" id="id_topic-{{theanswer.id}}" value="{{topic.title}}"/>
					{% csrf_token %}
                
					<input type="submit" name="submit" class="attachsubmit" value="Submit" />
			    </form>    


