{% extends "base.html" %}

{% block addscripts %}
	<script type="text/javascript">
		$(document).ready( function () {
			$( ".gotabs" ).tabs();
			$( ".gotabscollapse" ).tabs({collapsible: true, fx: { height: 'toggle', duration: 'slow' }});

            if (!userIsAuthenticated()) {
                // If the user isn't logged in disabled the 
                // "ask a question ..." tab.
                $(".qaoptions").tabs("option", "disabled", [1]);

                // Also show an error message if they try to click on the tab
                $(".qaoptions a.asktab").click(function() {
                    displayMessage(LOGIN_REQUIRED_MESSAGE, 'error');
                });
            }

            //$('a.answerthis').unbind('click', handleReplyform).bind('click', handleReplyform);
            $('a.thumbsup').unbind('click', handleResponseLink).bind('click', handleResponseLink);
            $('a.flagasopinion').unbind('click', handleOpinionLink).bind('click', handleOpinionLink);
			//$('#logoutlink').unbind('click', handleLogoutLink).bind('click', handleLogoutLink); 

            // TK - placeholders, we may rebind these 
            //$('#addtopicform').unbind('submit', handleNewTopicForm).bind('submit', handleNewTopicForm);
            //$('#addsourceform').unbind('submit', handleNewSourceForm).bind('submit', handleNewSourceForm);
            {% if is_reporter %}
            $('a.deletecommentlink').unbind('click', handleDeleteCommentLink).bind('click', handleDeleteCommentLink);
            $('a.disassociatecommentlink').unbind('click', handleDisassociateCommentLink).bind('click', handleDisassociateCommentLink);
            {% endif %}
            //$('a.deletecommentlink').unbind('click', handleReplyform); // Don't have this trigger the reply form
            //$('a.disassociatecommentlink').unbind('click', handleReplyform); // Don't have this trigger the reply form
            //$('.copytotopic').unbind('change', handleCopyComment).bind('change', handleCopyComment);
            $('.questionform').unbind('submit', handleCommentSubmit).bind('submit', handleCommentSubmit);
            $('.replyformtoggle').click(function () {

                if (userIsAuthenticated()) {
                    var id = $(this).attr("id");
                    var formid = id.replace('toggle', '');
                    // Also toggle the link text
                    if ($(this).html() == "Reply") {
                        $(this).html("Hide this");
                    }
                    else {
                        $(this).html("Reply");
                    }
                    $('#' + formid).toggle();
                }
                else {
                    displayMessage(LOGIN_REQUIRED_MESSAGE, 'error');
                }
                return false;
            });
            $('.answerformtoggle').click(function () {
                if (userIsAuthenticated()) {
                    var id = $(this).attr("id");
                    var formid = id.replace('toggle', '');

                    // Also toggle the link text
                    if ($(this).html() == "Answer this") {
                        $(this).html("Hide this");
                    }
                    else {
                        $(this).html("Answer this");
                    }
                    $('#' + formid).toggle();
                }
                else {
                    displayMessage(LOGIN_REQUIRED_MESSAGE, 'error');
                }

                return false;
            });
            $('.replyform').hide();
            $('.answerform').hide();
            $('#clipperform').hide();

			contextviews();
        });
	</script>
{% endblock %}

{% block leftcontent %}
			<h3 class="nodestamp">topic</h3>
			
			<!--V2!
			<ul class="breadcrumbs">
				<li>Home ></li>
				<li>Subtopic ></li>
				<li>Sub-subtopic ></li>
			</ul>
			-->
			
    {% if is_reporter %}
        {% include "core-topic-addtopic.html" %}

        {% include "core-topic-addsource.html" %}
    {% endif %}
    <div class="topicid" id="{{topic.id}}"></div>
			<div id="context">
				<h1>{{topic.title}}</h1>
					<p id="contextintro" class="topic-summary">
                    {{topic.summary.text|safe}}
                    </p>
        {% if is_reporter %}
        {% include "core-topic-update_summary_form.html" %}
        {% endif %}
        
		<div class="contextbot"><a class="expanderbut lightback" href="#"><span class="downarrow"></span>more </a></div>
			</div>
		
		
			<div id="timeline" style="display:none;">
				<h2>Sequence View</h2>
				<a class="expanderbut lightback" href="#"><span class="downarrow"></span>more </a>
			</div>
		
        {% if is_reporter %}
        {% include "core-topic-topic_tools.html" %}
        {% endif %}
		
			<div id="qas">
				
				<div class="qaoptions gotabscollapse">
					<div id="optselect">
						<ul class="tabs">
							<li class="nullpane" style="display:none;"><a href="#"></a></li>

							<li class="lightback"><a href="#askquestion" class="asktab"><span class="downarrow"></span><span class="uparrow"></span>Ask a question about this topic </a></li>
							<li class="lightback"><a href="#filterqas"><span class="downarrow"></span><span class="uparrow"></span>Filter Q&As </a></li>
						</ul>
							
						<p class="viewby">Viewing by: <label>Popularity</label></p>
					</div>
					
					<div id="askquestion" class="optionsdrop">
					
						<!--START QUESTION FORM-->
						<form action="" method="post" class="questionform" id="questionform">
							<h4>Enter your question about {{topic.title}}</h4>
							<textarea id="id_text" rows="10" cols="40" name="text" class="qainput"></textarea>
                            <input type="hidden" name="topic_name" id="id_topic" value="{{topic.title}}" />
                            <input type="hidden" name="comment_type_str" id="id_comment_type_str" value ="1" />
                            {% if is_reporter %}
                            <br> Attribute to (optional): {{comment_form.sources}} <br>
                            {% endif %}
                            <br><br>

							<input type="submit" name="submit" class="submit" value="Submit" />
						</form>
						<!--END QUESTION FORM-->
						
					</div>
					
					
					<div id="filterqas" class="optionsdrop">
						FILTER OPTIONS (by recency/popularity/default view & answered/unanswered/filter out opinion)
					</div>
					
				</div>
				
				<!-- START ACTUAL Q&As -->
				<ul class="masterlist">
                    {% for questionset in topic.comments_to_show %}

                    {% with questionset|first as question %}


                    <li id="comment-{{question.id}}">
                        <div class = "comment question" >
                            <div class = "votebox burningq">
                                <p class="count">{{question.num_upvotes}}</p>
                                <p class="countsub">thumbs up</p>
                                <a href="#" class="thumbsup" id="thumbsup-{{question.id}}">
                                        <img src="{{ MEDIA_URL }}img/icns/thumbsup.png" />
                                        <span>thumbs up!</span>
                                    </a>
                            </div>

                            <div class="qabox">
                                <p class="qa">{{question.text}}</p>
                                <p class="userinfo"><span class="username">{{question.user}}</span> on <span class="date">{{question.date_created}}</span>
                                <!--START ANSWER FORM CONTROLS -->
                                <a href="#" class="answerthis answerformtoggle" id="answerformtoggle-{{question.id}}">Answer this</a>
                                {% if is_reporter %}
                                <a href="#" class="answerthis deletecommentlink" id="deletecommentlink-{{question.id}}">Delete Question</a>
                                <a href="#" class="answerthis disassociatecommentlink" id="disassociatecommentlink-{{question.id}}">Remove Question from Topic</a>
                                <!--END ANSWER FORM CONTROLS -->

                                {% endif %}
                                </p>

                                {% include "core-topic-answerform.html" %}
                                
                            </div>
                        </div>
                        {% endwith %}
                        <!-- answers -->

                        {% with questionset|slice:"1:" as answers %}

                        {% if answers %}
                        <ul class = "answers">

                        {% for answer in answers %}
                        {% with answer|first as theanswer %}
                            <li id="comment-{{theanswer.id}}">
                                <div class = "comment answer">
                                    <div class = "votebox">
                                        <p class="count">{{theanswer.num_upvotes}}</p>
                                        <p class="countsub">thumbs up</p>
                                        <a href="#" class="thumbsup" id="thumbsup-{{theanswer.id}}">
                                                <img src="{{ MEDIA_URL }}img/icns/thumbsup.png" />
                                                <span>thumbs up!</span>
                                        </a>
                                    </div>

                                    <div class="qabox">
                                        <p class="qa">{{theanswer.text}}</p>
                                        {% for clip in theanswer.clips.all %}
                                        <div class = "answerclip">
                                            <p class="cliptext">{{clip.text}}</p>
                                            <p class="clipcitation">Citation: "<a href="{{clip.article.url}}" class="articlelink">{{clip.article.title}}</a>" on {{clip.article.date_published}} at <a href="{{clip.article.source.url}}" class="publink"> </a> </p>
                                        </div>

                                        {% endfor %}
                                        <p class="userinfo"><span class="username">{{theanswer.user}}</span> on <span class="date">{{theanswer.date_created}}</span>
                                        <a href="#" class="answerthis replyformtoggle" id="replyformtoggle-{{theanswer.id}}">Reply</a><a href="#" class="flagasopinion">Flag this citation as opinion</a>
                                        {% if is_reporter %}
                                        <a href="#" class="answerthis deletecommentlink" id="deletecommentlink-{{theanswer.id}}">Delete Answer</a>
                                        <a href="#" class="answerthis disassociatecommentlink" id="disassociatecommentlink-{{theanswer.id}}">Remove Answer from Topic</a>

                                        {% endif %}

                                        </p>

                                {% include "core-topic-replyform.html" %}


                                        </div>
                                    </div>
                                {% with answer|slice:"1:" as replies %}

                                {% if replies %}
                                <ul class = "answers">

                                {% for replyset in replies %}
                                {% with replyset|first as reply %}

                                <li id="comment-{{reply.id}}">
                                    <div class = "comment answer">
                                        <div class = "votebox">
                                            <p class="count">{{reply.num_upvotes}}</p>
                                            <p class="countsub">thumbs up</p>
                                            <a href="#" class="thumbsup" id="thumbsup-{{reply.id}}">
                                                    <img src="{{ MEDIA_URL }}img/icns/thumbsup.png" />
                                                    <span>thumbs up!</span>
                                            </a>
                                        </div>

                                        <div class="qabox">
                                            <p class="qa">{{reply.text}}</p>
                                            {% for clip in reply.clips.all %}
                                            <div class = "answerclip">
                                                <p class="cliptext">{{clip.text}}</p>
                                                <p class="clipcitation">Citation: "<a href="{{clip.article.url}}" class="articlelink">{{clip.article.title}}</a>" on {{clip.article.date_published}} at <a href="{{clip.article.source.url}}" class="publink"> </a> </p>
                                            </div>

                                            {% endfor %}
                                            <p class="userinfo"><span class="username">{{reply.user}}</span> on <span class="date">{{reply.date_created}}</span>
                                            {% if is_reporter %}
                                            <a href="#" class="answerthis deletecommentlink" id="deletecommentlink-{{reply.id}}">Delete Reply</a>
                                            <a href="#" class="answerthis disassociatecommentlink" id="disassociatecommentlink-{{reply.id}}">Remove Reply from Topic</a>

                                            {% endif %}
                                            <a href="#" class="flagasopinion">Flag this citation as opinion</a></p>
                                            </p>
                                        </div>
                                    </div>

                                </li>
                                {% endwith %}
                                {% endfor %}
                                </ul>

                                {% endif %}
                                {% endwith %}

                        

                    
                    </li>
                    {% endwith %}

                    {% endfor %}
                    </ul>

                    {% endif %}

                    {% endwith %}

                    </li>

                    {% endfor %}

					
					
				</ul>
				
				<!-- END Q&As --> 
			</div>
{% endblock %}

{% block sidebar %}
			<div class="topqas gotabs">
			<p class="toplabel">Top:</p>
			<ul class="sidetabs">
				<li><a href="#burningqs"><img src="{{ MEDIA_URL }}img/icns/flame-sm.png"></a></li>
				<li><a href="#topanswers"><img src="{{ MEDIA_URL }}img/icns/check-sm.png"></a></li>
				<li><a href="#mostpopular"><img src="{{ MEDIA_URL }}img/icns/qbubbles-sm.png"></a></li>
			</ul>
			
			<div id="burningqs" class="toppanes">
				<img src="{{ MEDIA_URL }}img/icns/flame.png" class="paneicon"><h2>Burning Questions</h2>
				<ol class="top5">
                    {% for topq in topqs %}
					<li><p>{{topq.text}} <a href="#" id="answerthis-{{topq.id}}">Answer this</a></p></li>
                    {% endfor %}
				</ol>
			</div>
			
			<div id="topanswers" class="toppanes">
				TOP ANSWERS
			</div>
			
			<div id="mostpopular" class="toppanes">
				MOST POPULAR
			</div>

{% endblock %}
