<script type="text/javascript" >
    $(document).ready(function() {
        // Handler to reveal the 'Add a source' form
        $('#addasource').click(function ()
        {
            $('#addsource').show();
            return false;
        });
        $('#addsource').hide();
    });
</script>

<br />
<a href="#" id="addasource">Add a source</a>
<div id= "addsource">
    <form action="#" method="post" id="addsourceform">
        <label for="firstname">First name:</label> <input type = "text" id ="sourcefirstname" name="firstname" /> <br />
        <label for="lastname">Last name:</label> <input type = "text" id = "sourcelastname" name = "lastname" /> <br />
        <label for="sourceemail">Email:</label> <input type = "text" id = "sourceemail" name = "sourceemail" /> <br />
        <label for="sourcephone">Phone:</label> <input type = "text" id = "sourcephone" name = "sourcephone" /> <br />

        <br />
        <input type = "submit" name="submit" value="submit" />
    </form>
    <br />
</div>
