{% extends "base.html" %}
{% load i18n %}
{% block addscripts %}
{% endblock %}
{% block pagecontent %}

<BR>
this is a context management system designed to construct a concise and accurate dialog around issues.

<BR><BR>
<a href="http://localfourth.com">A group of students at Northwestern's Medill School of Journalism</a> built the tool to seperate information into <a href="/topic/browse">topics</a> and allow readers to curate verifiable information.
<BR><BR>

You can <a href="http://www.pbs.org/idealab/2010/12/introducing-sourcerer-a-context-management-system349.html">read more about it at PBS</a> or you can watch our screencast below to see some of the features available.
<BR>
<BR><BR>
<P align=center>
<iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/hXuTmmBB2-E?rel=0" frameborder="0" ></iframe>
</P>
<BR>
{% endblock %}
