{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block addscripts %}
	<script type="text/javascript">
		$(document).ready( function () {
            if (!userIsAuthenticated()) {
                // If the user isn't logged in disabled the 
                // "ask a question ..." tab.
                $(".qaoptions").tabs("option", "disabled", [1]);

                // Also show an error message if they try to click on the tab
                $(".qaoptions a.asktab").click(function() {
                    displayMessage(LOGIN_REQUIRED_MESSAGE, 'error');
                });
            }

            //$('a.answerthis').unbind('click', handleReplyform).bind('click', handleReplyform);
            $('a.thumbsup').unbind('click', handleResponseLink).bind('click', handleResponseLink);
            $('a.flagasopinion').unbind('click', handleOpinionLink).bind('click', handleOpinionLink);
			//$('#logoutlink').unbind('click', handleLogoutLink).bind('click', handleLogoutLink); 

            // TK - placeholders, we may rebind these 
            //$('#addtopicform').unbind('submit', handleNewTopicForm).bind('submit', handleNewTopicForm);
            //$('#addsourceform').unbind('submit', handleNewSourceForm).bind('submit', handleNewSourceForm);
            {% if is_reporter %}
            $('a.deletecommentlink').unbind('click', handleDeleteCommentLink).bind('click', handleDeleteCommentLink);
            $('a.favoritecommentlink').unbind('click', handleFavoriteCommentLink).bind('click', handleFavoriteCommentLink);
            $('a.disassociatecommentlink').unbind('click', handleDisassociateCommentLink).bind('click', handleDisassociateCommentLink);
            {% endif %}
            //$('a.deletecommentlink').unbind('click', handleReplyform); // Don't have this trigger the reply form
            //$('a.disassociatecommentlink').unbind('click', handleReplyform); // Don't have this trigger the reply form
            //$('.copytotopic').unbind('change', handleCopyComment).bind('change', handleCopyComment);
            $('.questionform').unbind('submit', handleCommentSubmit).bind('submit', handleCommentSubmit);
            
            // SET UP ANSWER/REPLY DROPDOWN DRAWERS
            answerdrawers();

			// HANDLE CONTEXT MORE/LESS
			contextexpander();
			
			// HANDLE EARMARK HEIGHTS, LABELS and COLORS
			earmarksetup();
			
			// SET UP Q/A COLLAPSING
			hideanswers();

			
            // Set the tooltips
            $('.tooltipper').tooltip({extraClass: "pretty", fixPNG: true, opacity: 0.95 });
        });
	</script>
{% endblock %}

{% block pagecontent %}
	<div id="leftcontent" class="grid_8">
			<h3 class="nodestamp">topic</h3>
			
			<!--V2!
			<ul class="breadcrumbs">
				<li>Home ></li>
				<li>Subtopic ></li>
				<li>Sub-subtopic ></li>
			</ul>
			-->
			
    {% if is_reporter %}
        {% include "core-topic-addtopic.html" %}

        {% include "core-topic-addsource.html" %}
    {% endif %}
    <div class="topicid" id="{{topic.id}}"></div>
			<div id="context">
				<h1>{{topic.title}}</h1>
					<p id="contextintro" class="topic-summary">
                    {{topic.summary.text|safe}}
                    </p>
        {% if is_reporter %}
        {% include "core-topic-update_summary_form.html" %}
        {% endif %}
        
		<div class="contextbot"><a class="expanderbut lightback" href="#">
			<span class="more"><span class="downarrow"></span>more </span>
			<span class="less"><span class="uparrow"></span>less </span>
		</a></div>
			</div>
		
		
			<div id="timeline" style="display:none;">
				<h2>Sequence View</h2>
				<a class="expanderbut lightback" href="#"><span class="downarrow"></span>more </a>
			</div>
		
        {% if is_reporter %}
        {% include "core-topic-topic_tools.html" %}
        {% endif %}
		
			<div id="qas">
				
				<div class="qaoptions gotabscollapse">
					<div id="optselect">
						<ul class="tabs">
							<li class="nullpane" style="display:none;"><a href="#"></a></li>

							<li class="lightback"><a href="#askquestion" class="asktab"><span class="downarrow"></span><span class="uparrow"></span>Ask a question about this topic </a></li>
							<li class="lightback"><a href="#filterqas"><span class="downarrow"></span><span class="uparrow"></span>Filter Q&As </a></li>
						</ul>
							
						<p class="viewby">Viewing by: <label>Popularity</label></p>
					</div>
					
					<div id="askquestion" class="optionsdrop">
					
						<!--START QUESTION FORM-->
						<form action="" method="post" class="questionform" id="questionform">
							<h4>Enter your question about {{topic.title}}</h4>
							<textarea id="id_text" rows="10" cols="40" name="text" class="qainput"></textarea>
                            <input type="hidden" name="topic_name" id="id_topic" value="{{topic.title}}" />
                            <input type="hidden" name="comment_type_str" id="id_comment_type_str" value ="1" />
                            {% if is_reporter %}
                            <br> Attribute to (optional): {{comment_form.sources}} <br>
                            {% endif %}
                            <br><br>

							<input type="submit" name="submit" class="submit" value="Submit" />
						</form>
						<!--END QUESTION FORM-->
						
					</div>
					
					
					<div id="filterqas" class="optionsdrop">
						FILTER OPTIONS (by recency/popularity/default view & answered/unanswered/filter out opinion)
					</div>
					
				</div>

                {% include "core-topic-questions.html" %}
				
			</div>
	</div>


	<div id="sidebar" class="grid_4">
			<div class="topqas gotabs">
			<p class="toplabel">Top:</p>
			<ul class="sidetabs">
				<li><a href="#burningqs"><img src="{{ MEDIA_URL }}img/icns/flame-sm.png"></a></li>
				<li><a href="#topanswers"><img src="{{ MEDIA_URL }}img/icns/check-sm.png"></a></li>
				<li><a href="#mostpopular"><img src="{{ MEDIA_URL }}img/icns/qbubbles-sm.png"></a></li>
			</ul>
			
			<div id="burningqs" class="toppanes">
				<img src="{{ MEDIA_URL }}img/icns/flame.png" class="paneicon"><h2>Burning Questions</h2>
                <a title="{% blocktrans %}A burning question is a popular question that hasn't been answered.{% endblocktrans %}" class="tooltipper whatsthis">What's this?</a>
                {% if topic.burning_questions %}
				<ol class="top5">
                    {% for question in topic.burning_questions %}
					<li><p>{{question.text}} <a href="#" id="answerthis-{{question.id}}">Answer this</a></p></li>
                    {% endfor %}
				</ol>
                {% else %}
                <p>{% blocktrans %}There aren't any burning questions for this topic.  Be the first to <a href="#" class="askquestion">ask one</a>.{% endblocktrans %}</p>
                {% endif %}
			</div>
			
			<div id="topanswers" class="toppanes">
				<img src="{{ MEDIA_URL }}img/icns/check.png" class="paneicon"><h2>Best Answers</h2>
                <a title="{% blocktrans %}These are the answers that have gotten the most positive feedback from the community.{% endblocktrans %}" class="tooltipper whatsthis">What's this?</a>
                {% if topic.top_answers %}
				<ol class="top5">
                    {% for answer in topic.top_answers %}
					<li><p>{{answer.text}} <a href="#comment-{{answer.id}}" id="seeanswer-{{answer.id}}">See the answer</a></p></li>
                    {% endfor %}
				</ol>
                {% else %}
                <p>{% blocktrans  %}Hmmm.  There aren't any popular answers for this topic.  Maybe you've got the answer?.{% endblocktrans %}</p>
                {% endif %}
			</div>
			
			<div id="mostpopular" class="toppanes">
				<img src="{{ MEDIA_URL }}img/icns/qbubbles.png" class="paneicon"><h2>Most Popular</h2>
                <a title="{% blocktrans %}These are the questions and answers that have gotten the most positive feedback from the community.{% endblocktrans %}" class="tooltipper whatsthis">What's this?</a>
                {% if topic.popular_comments %}
				<ol class="top5">
                    {% for comment in topic.popular_comments %}
					<li><p>{{comment.text}} <a href="#comment-{{comment.id}}">{% trans "Check it out" %}</a></p></li>
                    {% endfor %}
				</ol>
                {% else %}
                <p>{% blocktrans  %}Did you know you can vote on which questions are the most important and which answers are the most helpful?{% endblocktrans %}</p>
                {% endif %}
			</div>
	</div>
</div>
{% endblock %}
