<script type="text/javascript">
$(document).ready( function () {
});

</script>


				<form action = "/clipper/{{question.id}}/" method="post" class="answerform" id="answerform-{{question.id}}">
          <h4>Enter your thoughts...</h4>
          {{clipper_url_form.user_comments}}<BR>
					<label>Enter a URL: </label>
					{{clipper_url_form.url_field}}
		<!--			<input type="hidden" value="3" name="comment_type_str">
					<input type="hidden" value="3" name="id_in_reply_to" id="id_in_reply_to"> -->
					{% csrf_token %}
					<input type="submit" name="submit" class="attachsubmit" value="Submit" />
			    </form>    


