<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>radregator</title>
  </head>
  <body>
    <h1>radregator</h1>
    This user account has beend disabled because your account has either not been claimed (you were entered as a source for a story by a reporter) or you were banned by a moderator.  Please update me when we know what to do with these conditions.
  </body>
</html>
