		<form action="/innovation/v0.1/index.php" method="post" class="questionform" id="questionform1">
			<label for="questorcon">I have a
				<select class="questorcon" name="questorcon" id="questorcon">
					<option value="question">Question</option>
					<option value="concern">Concern</option>
				</select> :
			</label>
			
			<input type="text" class="conquest" name="conquest1" />
			
			<br><label for="about" class="questbump">This <span class="flipquestorcon">question</span> is about:</label>
		
			<ul class="tags">
				<li><input type="checkbox" name="tag" value="topic1" checked disabled><!--TOPIC TAG/TITLE--></li>
				<li><input type="checkbox" name="tag2" value="topic1"><!--TAG--></li>
				<li><input type="checkbox" name="tag3" value="topic1"><!--TAG--></li>
				<li><input type="checkbox" name="<!--USERTAG-->" value="topic1"> <input type="text" name="usertag" class="<!--TAG-->" value="(choose your own)"/></li>
				
			</ul>
			<input type="submit" name="submit" class="submit" value="Submit" />
			
		</form>