        <form action="" method="post" class="questionform" id="<!--UniqueID-->">
		<label for="questorcon">
            {{comment_form.comment_type_str.label}}
        {{comment_form.comment_type_str.errors}}
        {{comment_form.comment_type_str}}:	
        </label>
        <br>
        
        {{comment_form.text}}
        {{comment_form.text.errors}}
        {{comment_form.in_reply_to}}
        {{comment_form.in_reply_to.errors}}
			
			<br><label for="about" class="questbump"></label>
		
            {{comment_form.topic}} {{comment_form.topic.errors}}
			<input type="submit" name="submit" class="submit" value="Submit" />
            {% csrf_token %}
			
		</form>
