{% extends "base.html" %}

{% block addscripts %}
<script type="text/javascript">
	$(document).ready( function() {
		$("ul.featspotul li").fontfit("146");
		// $("ul.featspotul li h2").valign();

		initiateHomeTimeline();
		initiateTimelineClock();		
		
		// Set up "Browse" link
		$("a#browsetopics").colorbox({width:"800px", height:"500px",inline:true, href:"#browseoverlay"});



	});
</script>
{% endblock %}

{% block pagecontent %}
	<ul class="topicinfo">
		<li class="topictitle nodestamp">Topic: <span>Rahm Emanuel</span></li>
		<li class="answercount"><span>0</span> answers</li>
		<li class="askercount"><span>0</span> askers</li>	
	</ul>
	
	<div id="hometimeline">
		<p id="timelineflag">Featured questions</p>
		<div id="timelinecontainer"></div>
		<span class="uparrow" id="timelinemarker"></span>
	</div>
	
	<div class="featspot">
		<ul class="featspotul container_12">
			<!-- THIS NEEDS TO BE POPULATED BY QUESTION LISTS -->
			
			<li class="answercount-1 askcount-5 topicid-9 anchornum-13">
				<h2 class="featquestion">What does Rahm Emanuel do for fun when he is bored?<span>asked 3 hours ago.</span></h2>
				<span class="topic-name hidden" style="display:none;">Rahm Emanuel</span>
			</li>
			<li class="answercount-2 askcount-6 topicid-10 anchornum-14">
				<h2 class="featquestion">Why does Rahm Emanuel do for fun when he is bored?<span>asked 3 hours ago.</span></h2>
				<span class="topic-name hidden" style="display:none;">Judge Dredd</span>
			</li>
			<li class="answercount-3 askcount-7 topicid-11 anchornum-15">
				<h2 class="featquestion">How does Rahm Emanuel do for fun when he is bored?<span>asked 3 hours ago.</span></h2>
				<span class="topic-name hidden" style="display:none;">Ren</span>
			</li>
			<li class="answercount-4 askcount-8 topicid-12 anchornum-16">
				<h2 class="featquestion">When does Rahm Emanuel do for fun when he is bored?<span>asked 3 hours ago.</span></h2>
				<span class="topic-name hidden" style="display:none;">Stimpy Stimpy Stimpy Stimpy Stimpy Stimpy Stimpy</span>
			</li>	
		</ul>
	</div>
	<div class="featinteractions">
		<a class="button big" href="#">Answer this</a>
		<ul class="interactionslist">
			<li>Jump to this <a href="#">topic page</a></li>
			<li><a href="#" id="browsetopics">Browse</a> all topics</li>
			<li><a href="#">Learn more about Sourcerer</a></li>
		</ul>
	</div>



	<div style="display:none;">
		<div id="browseoverlay">
			<h3>Topics map</h3>
			<!-- ADD FILTER CONTROLS AND A SORT FEATURE! -->
			<ul>
				<li><a href="#topic">Topic Example #1</a></li>
				<li><a href="#topic">Topic Example #2</a></li>
				<li><a href="#topic">Topic Example #3</a></li>
				<li><a href="#topic">Topic Example #4</a></li>
				<li><a href="#topic">Topic Example #5</a></li>
				<li><a href="#topic">Topic Example #6</a></li>
				<li><a href="#topic">Topic Example #7</a></li>
				<li><a href="#topic">Topic Example #8</a></li>
				<li><a href="#topic">Topic Example #9</a></li>
				<li><a href="#topic">Topic Example #10</a></li>
				<li><a href="#topic">Topic Example #11</a></li>
				<li><a href="#topic">Topic Example #12</a></li>
			</ul>
		</div>
	</div>

{% endblock %}