<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>radregator</title>
	<link href="/static/css/colorbox.css" rel="stylesheet" type="text/css" /> 
	<script src="/static/js/jquery.tools.min.js"></script>

	<script type="text/javascript"> 
  		$(document).ready(function() {  			
			// GRAB THE FORM INPUT AND KILL BEHAVIOR
			$('.loginreg form').submit(function() {
				var thisform = $(this).closest('form').attr("class");
				var thisuser = $("."+thisform+" #id_username").val();
				var thispass = $("."+thisform+" #id_password").val();

				if (thisform == "login") {
					var posturl = "/api/json/users/"+thisuser+"/login/";
					// alert(posturl);
				} else {
					var posturl = "/api/json/users/";
				}			
			
				$.ajax({
				    type: "post", url: posturl, data: { username: thisuser, password: thispass },
				    success: function(data){
						// console.log(data);
						var loggeduser = data.username;
						parent.$("div.reglog").html("Hello, "+loggeduser+".  <a href='/logout'>Not you</a>?");
						parent.$.fn.colorbox.close();
					},
				    error: function (requestError, status, errorResponse) {
						var errorNum = requestError.status;
						if (errorNum == "404") {
							var errorMsg = "Error: Please enter a username.";
						} else {
							var errorMsg = " Error: That username + password failed. Please try again."
							// alert(errorMsg);
						}
					
						$("p.errormsg").html(errorMsg);
						$("p.errormsg").css("display","block");	
				    }
				});
						return false;
			});
						
		
			
  		});
	
	</script>
	</head>
	<body class="loginreg">

	<h1>Register or Login</h1>
  	<div id="loginwrap" class="reglog-overlay">
	    <h3>Login</h3>
	    <form method="POST" action="/api/json/users/login" class="login">
			{{ form.as_p }}
			{% csrf_token %}
			<p class="errormsg" style="display:none;"></p>
			<input type="submit" class="btn" value="Go!" />
	    </form>
	    <h3>Login using Facebook</h3>
	    <fb:login-button autologoutlink="true"></fb:login-button>
	    <div id="fb-root"></div>
	</div>
    
    
    
    <div id="regwrap" class="reglog-overlay">
    
        <h3>New here? Get registered</h3>
		<form method="POST" action="/api/json/users" class="register">
			{{form.as_p}} 
			{% csrf_token %}
			<input type="submit" class="btn" value="Go!" />
		</form>
    </div>
    
    
<!-- fb scripts need to appear after fb-root div so it exists before this block is executed FYI -->
<!-- Probably want to move this into it's own page at some point so and include all logout logic on one page -->
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>

  FB.init({appId: '{{ fb_app_id }}', status: true, cookie: true,xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // A user has logged in, and a new cookie has been saved
      location.href="/{{auth_page}}";
    } else {
      // The user has logged out, and the cookie has been cleared
    }
  });
</script>

	</body>
</html>

