<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>radregator</title>
  </head>
  <body>
    <h1>radregator</h1>
    Login via site credentials<br> 
    <!-- BEGIN FORM -->
    <form method="POST" action="login">
    <!-- BEGIN USERNAME -->
    <p>
    <label class="text">Username</label>
    <input type="text" id="headline" name="fUsername" class="text"/>
    </p>
    <!-- END USERNAME -->

    <!-- BEGIN PASSWORD -->
    <p>
    <label class="text">Password</label>
    <input type="password" id="password" name="fPassword" class="text"/>
    </p>
    <!-- END PASSWORD -->

    <input type="hidden" name="process" value="1"/>
     {% csrf_token %}
    <input type="submit" class="btn" value="Go!" />

    </form>
    <br>OR Login using Facebook<br>
    <p><fb:login-button autologoutlink="true"></fb:login-button></p>

    <div id="fb-root"></div>
<!-- fb scripts need to appear after fb-root div so it exists before this block is executed FYI -->
<!-- Probably want to move this into it's own page at some point so and include all logout logic on one page -->
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>

  FB.init({appId: '{{ fb_app_id }}', status: true, cookie: true,xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // A user has logged in, and a new cookie has been saved
      location.href="/authenticate";
    } else {
      // The user has logged out, and the cookie has been cleared
      alert('a user is out');
    }
  });
</script>

    <BR>Or, <a href="register">register to use the site</a>
  </body>
</html>

