<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
 
	<title>Querity</title> 
 
	<meta http-equiv="content-type" content="text/html;charset=utf-8" /> 
	<meta http-equiv="content-style-type" content="text/css" /> 
 
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	<meta name="author" content="A.Paley" /> 
	<meta name="copyright" content="" /> 
	<meta name="robots" content="all,follow" />	
	<meta name="viewport" content="width=960" /> 
	
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
	<link href="{{ MEDIA_URL }}css/master.css" rel="stylesheet" type="text/css" /> 
	<link href="{{ MEDIA_URL }}css/colorbox.css" rel="stylesheet" type="text/css" /> 

	<script src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
	<script src="{{ MEDIA_URL }}js/functions.js"></script>
	<script src="{{ MEDIA_URL }}js/jquery.colorbox-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    {% if is_reporter %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/functions-admin.js"></script>
    {% endif %}
	<script type="text/javascript">
		$(document).ready( function () {
			$( ".gotabs" ).tabs();
	
			$( ".gotabscollapse" ).tabs({collapsible: true,});			

            $('a.answerthis').unbind('click', handleReplyform).bind('click', handleReplyform);
            $('a.thumbsup').unbind('click', handleResponseLink).bind('click', handleResponseLink);
            $('a.flagasopinion').unbind('click', handleOpinionLink).bind('click', handleOpinionLink);
			//$('#logoutlink').unbind('click', handleLogoutLink).bind('click', handleLogoutLink); 

            // TK - placeholders, we may rebind these 
            //$('#addtopicform').unbind('submit', handleNewTopicForm).bind('submit', handleNewTopicForm);
            //$('#addsourceform').unbind('submit', handleNewSourceForm).bind('submit', handleNewSourceForm);
            {% if is_reporter %}
            $('a.deletecommentlink').unbind('click', handleDeleteCommentLink).bind('click', handleDeleteCommentLink);
            $('a.disassociatecommentlink').unbind('click', handleDisassociateCommentLink).bind('click', handleDisassociateCommentLink);
            {% endif %}
            //$('a.deletecommentlink').unbind('click', handleReplyform); // Don't have this trigger the reply form
            //$('a.disassociatecommentlink').unbind('click', handleReplyform); // Don't have this trigger the reply form
            //$('.copytotopic').unbind('change', handleCopyComment).bind('change', handleCopyComment);
            $('.questionform').unbind('submit', handleCommentSubmit).bind('submit', handleCommentSubmit);
            $('.replyformtoggle').click(function () {
                var id = $(this).attr("id");
                var formid = id.replace('toggle', '');
                $('#' + formid).toggle();
                return false;

            });
            $('.replyform').hide();
            $('#clipperform').hide();

			// GRAB THE FORM INPUT AND KILL BEHAVIOR
			$('#usersignin').submit(function() {
					var thisuser = $("#usersignin-username").val();
					var thispass = $("#usersignin-password").val();

                    //if (thisuer == '' || thispass == '')
                    if (false)
                    {
                        // User didn't enter username or didn't enter password
                        var errorMsg = 'You need to enter a user name and password.';
                        $(this).find(".errormsg").html(errorMsg);
                        $(this).find(".errormsg").css("display", "block");
                        alert(errorMsg);
                        return false;
                    }
                        

                    // Clear prior error messages
                    $('.errormsg').each(function(index) {
                        $(this).html('');
                    });
					
                    var posturl = "/api/json/users/"+thisuser+"/login/";
						// alert(posturl);
					
					$.ajax({
					    type: "post", context: $(this), url: posturl, data: { username: thisuser, password: thispass },
					    success: function(data){
							// console.log(data);
							var loggeduser = data.username;
							parent.$("div.reglog").html("Hello, "+loggeduser+".  <a href='/logout'>Not you</a>?");
							parent.$.fn.colorbox.close();
                            location.reload();
						},
					    error: function (requestError, status, errorResponse) {
							var errorNum = requestError.status;
						
                            var responseText = jQuery.parseJSON(requestError.responseText);
                            var errorMsg = responseText.error;
                            
                            if(responseText.error_html)
                            {
                                errorMsg += responseText.error_html;
                            }
                            $(this).find(".errormsg").html(errorMsg);
                            $(this).find(".errormsg").css("display", "block");
					    }
					});
				return false;
			});
        });
	</script>
	
</head> 
<body>
        <form action="/clipper" method="post" id="clipperform" name="clipperform">
            <input type="hidden" name="url_field" id="clipperform_url_field" />
            <input type="submit" name="submit" />
        </form>
        <div id="fb-root"></div>
        <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({appId: '{{ fb_app_id }}', status: true, cookie: true,
                     xfbml: true});
        };

        (function() {
          var e = document.createElement('script'); e.async = true;
          e.src = document.location.protocol +
             '//connect.facebook.net/en_US/all.js';
          document.getElementById('fb-root').appendChild(e);
        }());

       </script>
	<div id="wrapper" class="container_12">
		<div id="headerwrap">
		<!--THIS IS HEADER "LOGGED IN"-->
        {% if user.is_authenticated %}
			<div id="header" class="loggedin">
				
				<ul id="usercontrols" class="grid_5">
					<li class="button darkback"><a href="#askquestion">Ask a Question <span class="downarrow"></span></a></li>
					<li class="lightback"><a href="#">Favorites <span class="downarrow"></span></a></li>
					<li class="lightback"><a href="#">Recent Q&As <span class="downarrow"></span></a></li>
                    {% if is_reporter %}
                    {% include "core-topic-usercontrols-reporter.html" %}
                    {% endif %}
				</ul>
				
				<h1 class="logo">Querity</h1>
				<p id="greetuser">Hello, {{user.username}}. <a href="/logout" id="logoutlink">Log out</a>?</p>
								
			</div> 
		<!--CLOSE HEADER "LOGGED IN"-->
			
        {% else %}
		<!--THIS IS HEADER "LOGGED OUT"-->
		<div id="header" class="loggedout">
				
				<div id="facebooklogin">
					<p>or</p>
					<a href="#" id="fbloginbut">Login with Facebook</a>
				</div>
				<form id="usersignin">
					<label>Login:</label>
					<input type="text" value="username" name="username" class="textinput" id="usersignin-username" />
					<input type="password" value="password" name="password" class="textinput" id="usersignin-password" />
					<input type="submit" value="submit" name="submit" class="submit" id="usersignin-submit" />
				</form>
				
				
				<h1 class="logo">Querity</h1>
				<a href="/register" id="greetsignup">Signup</a>
								
		</div>
		<!--CLOSE HEADER "LOGGED OUT"-->

        {%endif%}
		</div>
		
		
		
		<div id="leftcontent" class="grid_8">
			<h3 class="nodestamp">topic</h3>
			
			<!--V2!
			<ul class="breadcrumbs">
				<li>Home ></li>
				<li>Subtopic ></li>
				<li>Sub-subtopic ></li>
			</ul>
			-->
			
    {% if is_reporter %}
        {% include "core-frontpage-addtopic.html" %}

        {% include "core-frontpage-addsource.html" %}
    {% endif %}
    <div class="topicid" id="{{topic.id}}"></div>
			<div id="context">
				<h1>{{topic.title}}</h1>
					<div id="contextintro" class="topic-summary">
                    {{topic.summary.text|safe}}
                    </div>
        {% if is_reporter %}
        {% include "core-frontpage-update_summary_form.html" %}
        {% endif %}
			<a class="expanderbut lightback" href="#">more <span class="downarrow"></span></a>
			</div>
		
		
			<div id="timeline" style="display:none;">
				<h2>Sequence View</h2>
				<a class="expanderbut lightback" href="#">more <span class="downarrow"></span></a>
			</div>
		
        {% if is_reporter %}
        {% include "core-frontpage-topic_tools.html" %}
        {% endif %}
		
			<div id="qas">
				
				<div class="qaoptions gotabscollapse">
					<div id="optselect">
						<ul class="tabs">
							<li class="nullpane" style="display:none;"><a href="#"></a></li>
							<li class="lightback"><a href="#askquestion">Ask a question about this topic <span class="downarrow"></span></a></li>
							<li class="lightback"><a href="#filterqas">Filter Q&As <span class="downarrow"></span></a></li>
						</ul>
							
						<p class="viewby">Viewing by: <label>Popularity</label></p>
					</div>
					
					<div id="askquestion" class="optionsdrop">
					
						<!--START QUESTION FORM-->
						<form action="" method="post" class="questionform" id="questionform">
							<h4>Enter your question about {{topic.title}}</h4>
							<textarea id="id_text" rows="10" cols="40" name="text" class="qainput"></textarea>
                            <input type="hidden" name="topic_name" id="id_topic" value="{{topic.title}}" />
                            <input type="hidden" name="comment_type_str" id="id_comment_type_str" value ="1" />
                            {% if is_reporter %}
                            <br> Attribute to (optional): {{comment_form.sources}} <br>
                            {% endif %}
                            <br><br>

							<input type="submit" name="submit" class="submit" value="Submit" />
						</form>
						<!--END QUESTION FORM-->
						
					</div>
					
					
					<div id="filterqas" class="optionsdrop">
						FILTER OPTIONS (by recency/popularity/default view & answered/unanswered/filter out opinion)
					</div>
					
				</div>
				
				<!-- START ACTUAL Q&As -->
				<ul class="masterlist">
                    {% for questionset in topic.comments_to_show %}

                    {% with questionset|first as question %}


                    <li id="comment-{{question.id}}">
                        <div class = "comment question" >
                            <div class = "votebox burningq">
                                <p class="count">{{question.num_upvotes}}</p>
                                <p class="countsub">thumbs up</p>
                                <a href="#" class="thumbsup" id="thumbsup-{{question.id}}">
                                        <img src="{{ MEDIA_URL }}img/icns/thumbsup.png" />
                                        <span>thumbs up!</span>
                                    </a>
                            </div>

                            <div class="qabox">
                                <p class="qa">{{question.text}}</p>
                                <p class="userinfo"><span class="username">{{question.user}}</span> on <span class="date">{{question.date_created}}</span>
                                <!--START ANSWER FORM CONTROLS -->
                                <a href="#" class="answerthis replyformtoggle" id="replyformtoggle-{{question.id}}">Answer this</a>
                                {% if is_reporter %}
                                <a href="#" class="answerthis deletecommentlink" id="deletecommentlink-{{question.id}}">Delete Question</a>
                                <a href="#" class="answerthis disassociatecommentlink" id="disassociatecommentlink-{{question.id}}">Remove Question from Topic</a>
                                <!--END ANSWER FORM CONTROLS -->

                                {% endif %}
                                </p>

                                {% include "core-topic-replyform.html" %}
                                
                            </div>
                        </div>
                        {% endwith %}
                        <!-- answers -->

                        {% with questionset|slice:"1:" as answers %}

                        {% if answers %}
                        <ul class = "answers">

                        {% for answer in answers %}
                        {% with answer|first as theanswer %}
                            <li id="comment-{{theanswer.id}}">
                                <div class = "comment answer">
                                    <div class = "votebox">
                                        <p class="count">{{theanswer.num_upvotes}}</p>
                                        <p class="countsub">thumbs up</p>
                                        <a href="#" class="thumbsup" id="thumbsup-{{theanswer.id}}">
                                                <img src="{{ MEDIA_URL }}img/icns/thumbsup.png" />
                                                <span>thumbs up!</span>
                                        </a>
                                    </div>

                                    <div class="qabox">
                                        <p class="qa">{{theanswer.text}}</p>
                                        {% for clip in theanswer.clips.all %}
                                        <div class = "answerclip">
                                            <p class="cliptext">{{clip.text}}</p>
                                            <p class="clipcitation">Citation: "<a href="{{clip.article.url}}" class="articlelink">{{clip.article.title}}</a>" on {{clip.article.date_published}} at <a href="{{clip.article.source.url}}" class="publink"> </a> </p>
                                        </div>

                                        {% endfor %}
                                        <p class="userinfo"><span class="username">{{theanswer.user}}</span> on <span class="date">{{theanswer.date_created}}</span>
                                        <a href="#" class="answerthis replyformtoggle" id="replyformtoggle-{{theanswer.id}}">Reply</a><a href="#" class="flagasopinion">Flag this citation as opinion</a>
                                        {% if is_reporter %}
                                        <a href="#" class="answerthis deletecommentlink" id="deletecommentlink-{{theanswer.id}}">Delete Answer</a>
                                        <a href="#" class="answerthis disassociatecommentlink" id="disassociatecommentlink-{{theanswer.id}}">Remove Answer from Topic</a>

                                        {% endif %}
                                        </p>
                                    <form action="" method="post" class="replyform" id="replyform-{{theanswer.id}}">
                                        <h4>Enter your reply</h4>
                                        <textarea id="id_text-{{theanswer.id}}" rows="10" cols="40" name="text" class="qainput"></textarea>
                                        <p>
                                        <label>Citation needed! Enter a URL: </label>
                                        <input type="text" name="url_field" id="id_url_field-{{theanswer.id}}" /> 
                                        </p>
                                        <input type="hidden" name="topic_name" id="id_topic-{{theanswer.id}}" value="{{topic.title}}" />
                                        <input type="hidden" name="comment_type_str" id="id_comment_type_str-{{theanswer.id}}" value ="3" />
                                        {% if is_reporter %}
                                            <br> Attribute to (optional): {{comment_form.sources}} <br>
                                        {% endif %}
                                        <input type="hidden" name="in_reply_to" id="id_in_reply_to-{{theanswer.id}}" value="{{theanswer.id}}" />

                                        <br><br>
                                        <input type="submit" name="submit" class="submit" value="Submit" />
                                    </form>
                                        </div>
                                    </div>
                                {% with answer|slice:"1:" as replies %}

                                {% if replies %}
                                <ul class = "answers">

                                {% for replyset in replies %}
                                {% with replyset|first as reply %}

                                <li id="comment-{{reply.id}}">
                                    <div class = "comment answer">
                                        <div class = "votebox">
                                            <p class="count">{{reply.num_upvotes}}</p>
                                            <p class="countsub">thumbs up</p>
                                            <a href="#" class="thumbsup" id="thumbsup-{{reply.id}}">
                                                    <img src="{{ MEDIA_URL }}img/icns/thumbsup.png" />
                                                    <span>thumbs up!</span>
                                            </a>
                                        </div>

                                        <div class="qabox">
                                            <p class="qa">{{reply.text}}</p>
                                            {% for clip in reply.clips.all %}
                                            <div class = "answerclip">
                                                <p class="cliptext">{{clip.text}}</p>
                                                <p class="clipcitation">Citation: "<a href="{{clip.article.url}}" class="articlelink">{{clip.article.title}}</a>" on {{clip.article.date_published}} at <a href="{{clip.article.source.url}}" class="publink"> </a> </p>
                                            </div>

                                            {% endfor %}
                                            <p class="userinfo"><span class="username">{{reply.user}}</span> on <span class="date">{{reply.date_created}}</span>
                                            {% if is_reporter %}
                                            <a href="#" class="answerthis deletecommentlink" id="deletecommentlink-{{reply.id}}">Delete Reply</a>
                                            <a href="#" class="answerthis disassociatecommentlink" id="disassociatecommentlink-{{reply.id}}">Remove Reply from Topic</a>

                                            {% endif %}
                                            <a href="#" class="flagasopinion">Flag this citation as opinion</a></p>
                                            </p>
                                        </div>
                                    </div>

                                </li>
                                {% endwith %}
                                {% endfor %}
                                </ul>

                                {% endif %}
                                {% endwith %}

                        

                    
                    </li>
                    {% endwith %}

                    {% endfor %}
                    </ul>

                    {% endif %}

                    {% endwith %}

                    </li>

                    {% endfor %}

					
					
				</ul>
				
				<!-- END Q&As --> 
			</div>
			
	</div>
		
		
		<div id="sidebar" class="grid_4">
			<div class="topqas gotabs">
			<p class="toplabel">Top:</p>
			<ul class="sidetabs">
				<li><a href="#burningqs"><img src="{{ MEDIA_URL }}img/icns/flame-sm.png"></a></li>
				<li><a href="#topanswers"><img src="{{ MEDIA_URL }}img/icns/check-sm.png"></a></li>
				<li><a href="#mostpopular"><img src="{{ MEDIA_URL }}img/icns/qbubbles-sm.png"></a></li>
			</ul>
			
			<div id="burningqs" class="toppanes">
				<img src="{{ MEDIA_URL }}img/icns/flame.png" class="paneicon"><h2>Burning Questions</h2>
				<ol class="top5">
                    {% for topq in topqs %}
					<li><p>{{topq.text}} <a href="#" id="answerthis-{{topq.id}}">Answer this</a></p></li>
                    {% endfor %}
				</ol>
			</div>
			
			<div id="topanswers" class="toppanes">
				TOP ANSWERS
			</div>
			
			<div id="mostpopular" class="toppanes">
				MOST POPULAR
			</div>
			
		</div>
		
		
	</div>
</body>

</html>
